<form>
  <div class="form-group field-d02" data-id="{{ id }}">
    <label for="{{ id }}" class="control-label">{{ title }}</label>
    <div class="field-wrapper">
      <input data-formtype="d02" id="{{ id }}" name="{{ id }}" type="date" step="any" data-required-error="You need to enter a valid date." class="length-15">
      <div class="help-block with-errors"></div>
    </div>
  </div>
</form>
