{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'sfgov-full-bleed',
  'card-container'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="sfgov-section-container">
      {% block content %}
        <h2 class="title">{{ content.field_title.0|default('Resource') }}</h2>
        {{ content|without('field_file', 'field_title') }}

        {% if content.field_file %}
          <h3 class="campaign-downloadable-resource-title">{{ content.field_file['#title'] }}</h3>
          {% for item in paragraph.field_file %}
             {% if item.entity.field_media_file.entity.uri.value %}
              {% include '@atoms/09-document/09-document.twig' with {
                'field_file': item,
                'fileurl': file_url(item.entity.field_media_file.entity.uri.value)
              } %}
              {% elseif item.entity.field_document_url.0.url %}
              {% include '@atoms/09-document/09-document.twig' with {
                'field_file': item,
                'fileurl': item.entity.field_document_url.0.url
              } %}
              {% else %}
              <div class="document-file--container">
                <i class="sfgov-icon-filefilled"></i>
                <span class="document">
                {{ item }}
                <br>
                {{ '(upcoming)'|t }}
                </span>
              </div>
              {% endif %}
          {% endfor %}

        {% endif %}
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
