{# Campaign theme background color #}
{% set parent = paragraph.getParentEntity() %}
{% set campaign_theme = parent.field_campaign_theme.entity %}
{% set background_color = campaign_theme.field_primary_color.color|default('none') %}

{# Spotlight Image #}
{% if content.field_spotlight_img|render %}
  {% set image = paragraph.field_spotlight_img.entity %}
  {% set img_url = image ? file_url(image.field_media_image.entity.fileuri) : null %}
  {% set img_alt = image.field_media_image.alt|trim|default('image') %}
  {% set img_attributes = create_attribute({
    'role': 'img',
    'aria-label': img_alt,
    'style': '
      background-image: url(' ~ img_url ~ ');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    ',
  }) %}
{% endif %}

{% embed 'paragraph.html.twig' with {
  classes: [
    'sfgov-campaign-spotlight',
    paragraph.field_is_reversed.value == '1' ? 'is-reversed'
  ]
} %}
  {% block content %}
    <div class="sfgov-campaign-spotlight-main" style="background-color: {{ background_color }};">
      <div class="sfgov-campaign-spotlight-image"{{ img_attributes }}>
        {{ content.field_spotlight_img }}
      </div>

      <div class="sfgov-campaign-spotlight-content">
        {% if content.field_title|render %}
          <h2 class="sfgov-campaign-spotlight-title">
            {{ content.field_title }}
          </h2>
        {% endif %}

        {% if content.field_description|render %}
          <div class="sfgov-campaign-spotlight-description">
            {{ content.field_description }}
          </div>
        {% endif %}

        {% if content.field_link|render %}
          <div class="sfgov-campaign-spotlight-button">
            {{ cotnent.field_link }}
          </div>
        {% endif %}
      </div>
    </div>

    {% if image %}
      <div class="sfgov-campaign-spotlight-caption">
        {% include '@theme/media-caption.twig' with {
          entity: image,
          align: 'right',
        } only %}
      </div>
    {% endif %}
  {% endblock %}
{% endembed %}
