{% embed 'paragraph.html.twig' with { classes: ['sfgov-power-bi-chart'] } %}
  {% block content %}
    {% if is_test %}
      <div class="sfgov-full-bleed">
        <div class="sfgov-section-container" style="margin-bottom: 120px;">
          <div class="sfgov-container-two-column">
            <div class="sfgov-container-item">
              <div>
                <h2>Community Clean Team</h2>
                <p>Community Clean Team is San Francisco Public Works’ longest-running and largest volunteer program
                  that
                  keeps San Francisco beautiful through landscaping and gardening projects, graffiti removal and litter
                  cleanup in our neighborhoods.</p>
                <p>Community Clean Team, in partnership with the Giant Sweep anti-litter
                  campaign, needs your help to keep our city clean and green in 2020. Join us and volunteer!</p>
                <p>Community Clean Team, in partnership with the Giant Sweep anti-litter
                  campaign, needs your help to keep our city clean and green in 2020. Join us and volunteer!</p>
                <p>Learn the latest rules and best practices for live performances as SF continues to reopen.</p>
              </div>
            </div>
            <div class="sfgov-container-item">{{ content }}</div>
          </div>
        </div>
        <div class="sfgov-section-container">
          <div class="sfgov-container-three-column">
            <div class="sfgov-container-item">
              <div>
                <h4>Now Archived: Best Practices for Live Performances Webinar</h4>
                <p>Learn the latest rules and best practices for live performances as SF continues to reopen.</p>
              </div>
            </div>
            <div class="sfgov-container-item">{{ content }}</div>
            <div class="sfgov-container-item">
              <div>
                <h4>Starting March 15, SF will expand COVID-19 vaccine eligibility</h4>
                <p>Learn the latest rules and best practices for live performances as SF continues to reopen.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="sfgov-section-container clearfix" style="margin-top: 100px;">
          <div class="info--left">
            <div>
              <h4>Now Archived: Best Practices for Live Performances Webinar</h4>
              <p>Learn the latest rules and best practices for live performances as SF continues to reopen.</p>
              <p>Community Clean Team, in partnership with the Giant Sweep anti-litter
                campaign, needs your help to keep our city clean and green in 2020. Join us and volunteer!</p>
              <p>Community Clean Team, in partnership with the Giant Sweep anti-litter
                campaign, needs your help to keep our city clean and green in 2020. Join us and volunteer!</p>
              <p>Learn the latest rules and best practices for live performances as SF continues to reopen.</p>
            </div>
          </div>
          <div class="info--right">
            {{ content }}
          </div>
        </div>
        <div class="sfgov-section-container clearfix" style="padding-top: 100px; padding-bottom: 100px;">
          <h2>Now Archived: Best Practices for Live Performances Webinar</h2>
          <p>Learn the latest rules and best practices for live performances as SF continues to reopen.</p>
          {{ content }}
        </div>
      </div>
    {% else %}
      <div class="sfgov-power-bi-chart-container">
        {{ content }}
      </div>
    {% endif %}
  {% endblock %}
{% endembed %}
