{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'container',
  'video-embed-component'
]
%}
{% block paragraph %}
  {{ attach_library('sfgovpl/sfgov-video') }}

  <div{{ attributes.addClass(classes) }}>
    <div class="container">
      <h2>{{ content.field_title }}</h2>
      {{ content.field_description }}

      <div class="video-wrapper">
        <div class="group-left {{ content.field_text.0 is not empty ? 'has-captions' : 'no-captions' }}">
          {{ content.field_video }}
        </div>
        {% if content.field_text.0 is not empty %}
        <div class="group-right">
          <div class="inner">
            <div class="link-video">
              {{ link_transcript }}
            </div>

            <h5>{{ 'Transcript:'|t }}</h5>
            <div class="transcript">
              {{ content.field_text.0|raw }}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <a href="#" class="toggle-transcript">
        <span>{{ 'View transcript'|t }}</span>
        <span class="is-hidden">{{ 'Hide transcript'|t }}</span>
      </a>
    </div>
  </div>
{% endblock paragraph %}
