{% if content.field_spotlight_img|render %}
  {% set image = paragraph.field_spotlight_img.entity %}
  {% set image_url = image ? file_url(image.field_media_image.entity.fileuri) : null %}
  {% set image_alt = image.field_media_image.alt|trim %}
  {% set image_attributes = create_attribute({
    'aria-label': image_alt,
    'role': 'img',
    'style': '
      background-image: url(' ~ image_url ~ ');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    ',
  }) %}
{% endif %}

<div class="sfgov-spotlight">
  <div class="sfgov-spotlight-main">
    <div class="sfgov-spotlight-section sfgov-spotlight-content">
      {% if content.field_title|render %}
        <h2 class="sfgov-spotlight-title">{{ content.field_title }}</h2>
      {% endif %}

      {% if content.field_description|render %}
        <div class="sfgov-spotlight-description">
          {{ content.field_description }}
        </div>
      {% endif %}

      {% if content.field_spotlight_button %}
        <div class="sfgov-spotlight-button">
          {{ content.field_spotlight_button }}
        </div>
      {% endif %}
    </div>

    {% if image %}
      <div class="sfgov-spotlight-section sfgov-spotlight-image"{{ image_attributes }}>
        {{ content.field_spotlight_img }}
      </div>
    {% endif %}
  </div>

  {% if image %}
    <div class="sfgov-spotlight-caption">
      {% include '@theme/media-caption.twig' with {
        entity: image,
        align: 'right',
      } only %}
    </div>
  {% endif %}
</div>
