{% extends 'paragraph.html.twig' %}
{% block content %}
  {% set documents = paragraph.field_document.entity.field_file %}
  <div class="department-name">
    {{ paragraph.field_department.entity.title.value }}
  </div>

  {# Column 1 - Documents #}
  <div class="column-1">
    {% for key, item in documents %}
      {% set document = item.entity %}
      {% set document_file_uri = document.field_media_file.entity.uri.value %}
      {% set document_label = document.label %}
      {% set document_url = document.field_document_url.value[0].uri %}

      <div class="document-file" data-contact="document">
        {% if document_file_uri %}
          <a href="{{ file_url(document_file_uri) }}">{{ document_label }}</a>
        {% elseif document_url %}
          <a href="{{ document_url }}">{{ document_label }}</a>
        {% else %}
          <span>{{ 'No document available'|t }}</span>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="column-2">
    {% if node.field_direct_external_url[0].url %}
      <div class="meeting-item" data-contact="calendar">
        <a href=" {{ node.field_direct_external_url[0].url }} ">
          {{ paragraph.field_meeting[0].entity.title.value }}
        </a>
        {% if node.field_start_date.value %}
          <div class="date">
            {{ node.field_start_date.value|date('F j, Y') }}
          </div>
        {% else %}
          <div class="date">
            {{ 'Upcoming'|t }}
          </div>
        {% endif %}
      </div>
    {% else %}
      <div class="meeting-item" data-contact="calendar">
        <a href=" {{ node_path }} ">
          {{ paragraph.field_meeting[0].entity.title.value }}
        </a>
        {% if node.field_start_date.value %}
          <div class="date">
            {{ node.field_start_date.value|date('F j, Y') }}
          </div>
        {% else %}
          <div class="date">
            {{ 'Upcoming'|t }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}
