{% block paragraph %}
  {% set spotlight_img_url = 
    paragraph.get('field_spotlight_img').entity ? 
      file_url(paragraph.get('field_spotlight_img').entity.field_media_image.entity.fileuri) : null 
  %}
  {%
    set spotlight_img_alt = 
      paragraph.get('field_spotlight_img').entity ?
        paragraph.get('field_spotlight_img').entity.field_media_image.alt : 'image'
  %}
  {% set spotlight_img_style = spotlight_img_url ? 'background-image: url(' ~ spotlight_img_url ~ ');background-size: cover;' : '' %}
  <div class="sfgov-spotlight">
    {% block content %}
    <div class="sfgov-spotlight-section content">
      <div class="sfgov-spotlight-title"><h2>{{ content.field_title }}</h2></div>
      <div class="sfgov-spotlight-description">{{ content.field_description }}</div>
      <div class="sfgov-spotlight-button">{{ content.field_spotlight_button }}</div>
    </div>
    <div class="sfgov-spotlight-section image" style="{{ spotlight_img_style }}" aria-label="{{ spotlight_img_alt }}">
    </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
