{% extends 'paragraph.html.twig' %}
{% block paragraph %}
  <div {{ attributes.addClass(classes).addClass('clearfix') }}>
    {% block content %}
      {% set documents = paragraph.field_document.entity.field_file %}
      {% set meetings = paragraph.field_meeting %}

      {# Count the number of rows we need to print based on the largest number of items in the column. #}
      {% set document_count = documents|length %}
      {% set meeting_count = meetings|length %}
      {% set count = document_count > mmeeting_count
        ? document_count
        : meeting_count
      %}
      {% set row_count = count > 1 ? count - 1 : 0 %}

      {% set no_doc_text %}
        <span>{{ 'No document available'|t }}</span>
      {% endset %}

      <div class="department-content__department-name">
        {{ paragraph.field_department.entity.title.value }}
      </div>
      <table class="department-content__table">
        {% for i in 0..row_count %}
          <tr>
            {# Set Document Values. #}
            {% set document = documents[i].entity %}
            {% set document_file_uri =
              document.field_media_file.entity.uri.value
            %}
            {% set document_label = document.label %}
            {% set document_url = document.field_document_url.value[0].uri %}

            {# Set Meeting Values. #}
            {% set meeting = meetings[i].entity %}
            {% set meeting_external_url =
              meeting.field_direct_external_url[0].url
            %}
            {% set meeting_label = meeting.label %}
            {% set meeting_start = meeting.field_start_date.value %}

            {# Render Table Column 1. (Documents) #}
            <td>
              <div class="department-content__item" data-contact="document">
                {% if document_count == 0 %}
                  {{ no_doc_text }}
                {% elseif document %}
                  {% if document_file_uri %}
                    <a href="{{ file_url(document_file_uri) }}">
                      {{ document_label }}
                    </a>
                  {% elseif document_url %}
                    <a href="{{ document_url }}">{{ document_label }}</a>
                  {% else %}
                    {{ no_doc_text }}
                  {% endif %}
                {% endif %}
              </div>
            </td>

            {# Render Table Column 2. (Meetings) #}
            <td>
              {% if meeting_count == 0 or meeting %}
                <div class="department-content__item" data-contact="calendar">
                  <a href="{{
                    meeting_external_url
                      ? meeting_external_url
                      : meeting_path
                    }}">
                    {{ meeting_label }}
                  </a>
                  <div class="date">
                    {{ meeting_start
                      ? meeting_start|date('F j, Y')
                      : 'Upcoming'|t }}
                  </div>
                </div>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endblock %}
  </div>
{% endblock %}
