{% extends 'paragraph.html.twig' %}
{% block content %}
  <div class="department-name">
    {{ paragraph.field_department.entity.title.value }}
  </div>
  <div class="column-1">
    <div class="document-file" data-contact="document">
      {% if
        paragraph.field_document.entity.field_file.entity.field_media_file.entity.uri.value %}
        <a href="{{
          file_url(
            paragraph.field_document.entity.field_file.entity.field_media_file.entity.uri.value
          )
          }}">
          {{ paragraph.field_document.entity.field_file.entity.label }}
        </a>
      {% elseif
        paragraph.field_document.entity.field_file.entity.field_document_url.value[0].uri %}
        <a href="{{
          paragraph.field_document.entity.field_file.entity.field_document_url.value[0].uri
          }}">
          {{ paragraph.field_document.entity.field_file.entity.label }}
        </a>
      {% else %}
        <span>{{ 'No document available'|t }}</span>
      {% endif %}
    </div>
  </div>
  <div class="column-2">
    {% if node.field_direct_external_url[0].url %}
      <div class="meeting-item" data-contact="calendar">
        <a href=" {{ node.field_direct_external_url[0].url }} ">
          {{ paragraph.field_meeting[0].entity.title.value }}
        </a>
        {% if node.field_start_date.value %}
          <div class="date">
            {{ node.field_start_date.value|date('F j, Y') }}
          </div>
        {% else %}
          <div class="date">
            {{ 'Upcoming'|t }}
          </div>
        {% endif %}
      </div>
    {% else %}
      <div class="meeting-item" data-contact="calendar">
        <a href=" {{ node_path }} ">
          {{ paragraph.field_meeting[0].entity.title.value }}
        </a>
        {% if node.field_start_date.value %}
          <div class="date">
            {{ node.field_start_date.value|date('F j, Y') }}
          </div>
        {% else %}
          <div class="date">
            {{ 'Upcoming'|t }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}
