{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'container'
]
%}
{% block paragraph %}
  {{ attach_library('sfgovpl/sfgov-video') }}

  <div{{ attributes.addClass(classes) }}>
    <div class="container">
      <h2>{{ content.field_title }}</h2>
      {{ content.field_description }}

      <div class="video-wrapper">
        <div class="group-left {{ captions ? 'has-captions' : 'no-captions' }}">
          {{ content.field_video }}
        </div>
        {% if captions %}
          <div class="group-right">
            <div class="inner">
              <div class="link-video">
                {{ link_transcript }}
              </div>
              <h5>{{ 'Transcript:'|t }}</h5>
              <div class="transcript">
                {% for caption in captions %}
                  <p>{{ caption.text|raw }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      <a href="#" class="toggle-transcript">
        <span>{{ 'View transcript'|t }}</span>
        <span class="is-hidden">{{ 'Hide transcript'|t }}</span>
      </a>
    </div>
  </div>
{% endblock paragraph %}
