{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * NOTE: This paragraph is deprecated. It cannot be referenced in content.
 */
#}
{% set parent = paragraph.getParentEntity() %}
{%
set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  "parent--bundle--" ~ parent.bundle
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes).setAttribute('data-contact', paragraph.bundle|clean_class) }}>
    {% block content %}
      {%  set field_address = paragraph.field_location.entity.field_address[0] %}
      {%  set org = paragraph.field_location.entity.field_text[0] %}
      {% if not field_address.isEmpty() %}
        {% set parent_bundle = parent.bundle() %}
        {% if parent_bundle == "step" and nodetype != 'transaction' %}
          {% if field_address.locality or field_address.postal_code or field_address.administrative_area %}
              {% if field_address.locality %}
                  {% set city = "#{field_address.locality}," %}
              {% endif %}
              {% set line2 = "#{city} #{field_address.administrative_area} #{field_address.postal_code}" %}
          {% endif %}

          {% if field_address.organization %}
            <h4 class="sfgov-address__title">{{ field_address.organization }}</h4>
          {% endif %}

          {% if  field_address.address_line1 %}
            <div class="sfgov-address__line1">{{  field_address.address_line1 }}</div>
          {% endif %}

          {% if line2 %}
            <div class="sfgov-address__line2">{{ line2 }}</div>
          {% endif %}

          {{ card }}

        {% elseif parent_bundle == "step" and nodetype == 'transaction' %}
          {% if field_address.locality or field_address.postal_code or field_address.administrative_area %}
              {% if field_address.locality %}
                  {% set city = "#{field_address.locality}," %}
              {% endif %}
              {% set line2 = "#{city} #{field_address.administrative_area} #{field_address.postal_code}" %}
          {% endif %}

          {% if field_address.organization %}
            <h4 class="sfgov-address__line1">{{ field_address.organization }}</h4>
          {% endif %}

          {% if  field_address.address_line1 %}
            <div class="sfgov-address__line1">{{  field_address.address_line1 }}</div>
          {% endif %}

          {% if field_address.address_line2 %}
            <div class="sfgov-address__line2">{{ field_address.address_line2 }}</div>
          {% endif %}

          {% if line2 %}
            <div class="sfgov-address__line3">{{ line2 }}</div>
          {% endif %}

          {{ card }}

        {% else %}
          {% include '@theme/address.twig' with {
            title: field_address.organization,
            line1: field_address.address_line1,
            line2: field_address.address_line2,
            city: field_address.locality,
            zip: field_address.postal_code,
            state: field_address.administrative_area.code,
          } only %}
        {% endif %}
      {% endif %}
      {{ content|without('field_location') }}
    {% endblock %}
  </div>
{% endblock paragraph %}
