<div class="hero-banner default">
  <div>
  	{{#if form-title}}
	  	<div class="form-header-meta">
	      <h2>{{ form-title }}</h2>

	      <div class="form-progress">
	        {{#if short}}
	          <div class="form-progress-bubble">Page 1 of 5</div>
	        {{else}}
	          <div class="form-progress-bar form-progress-bar-{{ percent }}">{{ percent }}% done</div>
	        {{/if}}
	      </div>
	    </div>
  	{{/if}}
    <h1>{{ title }}</h1>
    {{#if lead}}
     <p class="lead-paragraph">{{ lead }}</p>
    {{/if}}
  </div>
</div>
