{% set info_url = 'https://sfgovdt.jira.com/wiki/spaces/SFGOV/pages/1796407448/Using+Drupal' %}
{% set connect_url = 'https://teams.microsoft.com/l/team/19%3ae46f071795f644a6b0a522d38f1f9bf8%40thread.tacv2/conversations?groupId=06db46d7-35c4-4cb4-ab72-a5bc4e481176&tenantId=22d5c2cf-ce3e-443d-9a7f-dfcc0231f73f' %}

<div class="sfgov-user__help-text">
  <h3>{{ 'Get help'|t }}</h3>
  <p>{{ 'We updated the log in page in October 2021.'|t }}</p>
  <p>
    <a href={{ info_url }}>{{ 'Find out more about logging in'|t }}</a><br>
    {{ 'Get instructions for how to log in as an editor.'|t }}
  </p>
  <p>
    <a href={{ connect_url }}>{{ 'Connect with editors in Teams'|t }}</a><br>
    {{ 'Join the Teams SF.gov channel to talk with other City employees.'|t }}
  </p>
</div>
