<div class="sfgov-user__start-page">
	<h1>{{ 'Employee login'|t }}</h1>

  <h3>{{ 'Log in with your DSW number'|t }}</h3>
  <p>{{ 'City employees can log in with the same account and password you use for the employee portal.'|t }}</p>
  <p><a href="/saml_login" class="btn">{{ 'Log in'|t }}</a></p>

  <div class="sfgov-user__help">
    <div class="sfgov-user__help-section">
      <p class="field__label">{{ 'Not a City employee?'|t }}</p>
      <p>{{ 'If you are a content editor but don’t work for the City, <a href="@sfgov-login">log in with your SF.gov username and password</a>.'|t({'@sfgov-login': '/user/sfgov-login'}) }}</p>
    </div>

    {% include '@sfgovpl/misc/help-text.twig' %}
  </div>
</div>
