<div class="sfgov-user__start-page">
	<h1>{{ 'Employee login'|t }}</h1>

  <div class="sfgov-user__wrapper">
    <div class="sfgov-user__content">
      <h3>
        {{ 'Log in with your DSW number'|t }}<br>
        {{ '(formerly Federated login)'|t }}
      </h3>
      <p>{{ 'City employees can log in with the same account and password you use for the employee portal.'|t }}</p>
      <p><a href="/saml_login" class="btn">{{ 'Log in'|t }}</a></p>

      <div class="sfgov-user__additional">
        <div class="sfgov-user__additional-section">
          <p class="field__label">{{ 'Not a City employee?'|t }}</p>
          <p>{{ 'If you are a content editor but don’t work for the City, <a href="@sfgov-login">log in with your SF.gov username and password</a>.'|t({'@sfgov-login': '/user/sfgov-login'}) }}</p>
        </div>
      </div>
    </div>

    <div class="sfgov-user__help">
      {% include '@sfgovpl/misc/login-help-text.twig' %}
    </div>
  </div>
</div>
