{{ attach_library('sfgov_vaccine/filter_sites') }}
{% include '@theme/hero-banner-color.twig' with {
  banner: {
    title: page_title
  }
} %}
<div class="sfgov-full-bleed light-blue">
  <div class="sfgov-section-container">
    {{ filters }}
  </div>
</div>

<div class="sfgov-full-bleed">
  <div class="sfgov-section-container">
    {% for result in results %}
      {% set description %}
        <div>
          <a href="{{ result.address_url }}">{{ result.address_text }}</a>
        </div>
        <div>
          {{ result.restrictions }}
        </div>
        <div>
          {% for eligibility in result.eligibilities %}
            <span>{{ eligibility }}</span>
          {% endfor %}
        </div>

        <label>{{ 'Languages'|t }}</label>
        <div>
          {{ result.languages|join(', ') }}
        </div>
        <div>
          {{ result.available }} {{ result.generated }}
        </div>

        <label>{{ 'Access'|t }}</label>
        {{ result.access_modes|join(', ') }}

        <div>
          <a href="{{ result.info_url }}">
            {{ 'Learn more about this location' }}
          </a>
        </div>
      {% endset %}

      {% include '@theme/atoms/vaccine-site-card.twig' with {
        attributes: result.attributes,
        title: result.site_name,
        description: description
      } %}
    {% endfor %}
  </div>
</div>
