{{ attach_library('sfgov_vaccine/filter_sites') }}
{% include '@theme/hero-banner-color.twig' with {
  banner: {
    title: page_title
  }
} %}
<div class="sfgov-full-bleed light-blue vaccine-filter-form__form_wrapper">
  <div class="sfgov-section-container">
    {{ filters }}
  </div>
</div>

<div class="sfgov-full-bleed">
  <div class="sfgov-section-container">
    {% for result in results %}
      {% set description %}
        {# address_url #}
        {% if result.address_url %}
          <div class="vaccine-site__address field">
            <a href="{{ result.address_url }}">{{ result.address_text }}</a>
          </div>
        {% endif %}

        {# Open to .. #}
        <div class="field">
          <label class="notranslate">{{ result.restrictions }}</label>

          {# 65 and over, etc #}
          <div class="vaccine-site__eligibilities">
            {% for eligibility in result.eligibilities %}
              <span class="vaccine-site__eligibility">{{ eligibility }}</span>
            {% endfor %}
          </div>
        </div>

        {# Languages #}
        {% if result.languages %}
          <div class="field">
            <label>{{ 'Languages'|t }}</label>
            <div>
              {{ result.languages|join(', ') }}
            </div>
          </div>
        {% endif %}

        {# Drive thru, walk thru, wheelchair #}
        {% if result.access_modes %}
          <div class="field">
            <label>{{ 'Access'|t }}</label>
            {{ result.access_modes|join(', ') }}
          </div>
        {% endif %}

        {% if result.info_url %}
          <div class="field">
            <a href="{{ result.info_url }}">
              {{ 'Learn more about this location'|t }}
            </a>
          </div>
        {% endif %}
      {% endset %}

      {% set booking_info %}
        {% include '@theme/atoms/vaccine-site-booking.twig' %}
      {% endset %}
      {% include '@theme/molecules/vaccine-site-card.twig' with {
        attributes: result.attributes,
        title: result.site_name,
        description: description,
        booking_info: booking_info
      } %}
    {% endfor %}
  </div>
</div>
