{{ attach_library('sfgov_vaccine/filter_sites') }}
{% include '@theme/hero-banner-color.twig' with {
  banner: {
    title: page_title
  }
} %}
<div class="sfgov-full-bleed light-blue vaccine-filter-form__form_wrapper">
  <div class="sfgov-section-container">
    {{ filters }}
  </div>
</div>

<div class="sfgov-full-bleed">
  <div class="sfgov-section-container">
    {% for result in results %}
      {% set description %}
        {# address_url #}
        {% if result.address_url %}
          <div class="vaccine-site__address field">
            <a href="{{ result.address_url }}">{{ result.address_text }}</a>
          </div>
        {% endif %}

        {# Open to .. #}
        <div class="field">
          <label>{{ result.restrictions }}</label>

          {# 65 and over, etc #}
          <div class="vaccine-site__eligibilities">
            {% for eligibility in result.eligibilities %}
              <span class="vaccine-site__eligibility">{{ eligibility }}</span>
            {% endfor %}
          </div>
        </div>

        {# Languages #}
        <div class="field">
          <label>{{ 'Languages'|t }}</label>
          <div>
            {{ result.languages|join(', ') }}
          </div>
        </div>

        {# Drive thru, walk thru, wheelchair #}
        <div class="field">
          <label>{{ 'Access'|t }}</label>
          {{ result.access_modes|join(', ') }}
        </div>
        <div class="field">
          <a href="{{ result.info_url }}">
            {{ 'Learn more about this location'|t }}
          </a>
        </div>
        <div>
          {{ result.available }} {{ result.generated }}
        </div>

        <div>
          <a href="{{ result.booking_url }}">{{ 'Book an appointment'|t }}</a>
        </div>
      {% endset %}

      {% include '@theme/atoms/vaccine-site-card.twig' with {
        attributes: result.attributes,
        title: result.site_name,
        description: description
      } %}
    {% endfor %}
  </div>
</div>
