<form>
  <div class="form-group field-c04" data-id="{{ id }}">
    <label for="{{ id }}" class="control-label">{{ title }}</label>
    <div class="field-wrapper">
      <input id="{{ id }}" data-formtype="c04" name="{{ id }}" type="email" required="" data-type-error="You need to enter a valid email address.">
      <div class="help-block with-errors"></div>
    </div>
  </div>
</form>
