<a class="sfgov-event-card" href="{{ url }}">
  <div class="event-image" style="background-image:url(/images/event-image.png)"></div>
  <div class="event-info">
    <h5 class="title">{{ title }}</h5>
    <p class="description">
      {{ description }}
    </p>
  </div>
</a>
<br/>
<a class="sfgov-event-card image" href="{{ url }}">
  <div class="event-image">
    <img src="{{ image.src }}" alt="{{ image.alt }}"/>
  </div>
  <div class="event-info">
    <h5 class="title">{{ title }}</h5>
    <p class="description">
      {{ description }}
    </p>
  </div>
</a>
<br/>
<a class="sfgov-event-card date" href="{{ url }}">
  <div class="event-date">
    <div class="month">{{ date.month }}</div>
    <div class="date">{{ date.date }}</div>
  </div>
  <div class="event-info">
    <h5 class="title">{{ title }}</h5>
    <p class="description">
      {{ description }}
    </p>
  </div>
</a>
