{% if items is not empty %}
  <p class="text-white text-title-xs font-medium m-0 mb-24">{{ label }}</p>
  <ul class="list-none p-0 m-0 mb-60">
    {% for item in items %}
      {% set facebook = item.content['#paragraph'].get('field_facebook').getValue()[0].uri %}
      {% set instagram = item.content['#paragraph'].get('field_instagram').getValue()[0].uri %}
      {% set twitter = item.content['#paragraph'].get('field_twitter').getValue()[0].uri %}
      {% if facebook %}
        <li class="flex mb-20">
          <a class="sm-icon facebook text-white text-body pl-40" href="{{ facebook }}">{{ 'Facebook' | t }}</a>
        </li>
      {% endif %}
      {% if instagram %}
        <li class="flex mb-20">
          <a class="sm-icon instagram text-white text-body pl-40" href="{{ instagram }}">{{ 'Instagram' | t }}</a>
        </li>
      {% endif %}
      {% if twitter %}
        <li class="flex mb-20">
          <a class="sm-icon twitter text-white text-body pl-40" href="{{ twitter }}">{{ 'Twitter' | t }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
