{#
/**
 * @file
 * Template override for the "Content moderation" widget.
 *
 * The moderation form is only displayed only when viewing the latest
 * (translation-affecting) revision, unless it was created as published default
 * revision.
 *
 * Additional variables:
 * - form['#node']: Node object for the base node.
 * - form['#node_revision']: Node object for the revision being viewed.
 * - form['#current_state'] = Current moderation state.
 * - form['#node_url']: Url of base node, or the revision (string).
 *
 * @see sfgov_admin_form_content_moderation_entity_moderation_form_alter()
 */
#}

{% set current_state = form['#current_state'] %}
{% set current_state_class = current_state|clean_class %}

{# Note: Using methods and filters, like clean_class does not work inside
{% trans %} tags, so we need to set these variables outside the block. #}
{% set node = form['#node'] %}
{% set node_url = form['#node_url'] %}
{% set node_title = node.label() %}

{% set revision = form['#node_revision'] %}
{% set revision_user = revision.getRevisionUser() %}
{% set revision_author = revision_user.getDisplayName() %}
{% set revision_date = revision.getRevisionCreationTime()|format_date('custom', 'F j, Y, g:i a') %}
{% set revision_log_message = revision.getRevisionLogMessage() %}

{% set classes = [
  'content-moderation',
  'is-' ~ current_state_class,
] %}

<details{{ attributes.addClass(classes) }}>
  <summary class="content-moderation__summary">
    <div class="content-moderation__summary-container">
      {% trans %}
        <div class="content-moderation__state">
          <span>Current state</span>
          <mark class="is-{{ current_state_class }}">
            {{ current_state }}
          </mark>
        </span>
      {% endtrans %}
    </div>
  </summary>

  <div class="content-moderation__content">
    {% if node.revision_log.value or revision_author %}
      <div class="content-moderation__log">
        {% if revision_author %}
          <strong class="content-moderation__label" title="Revision created: {{ revision_date }}">
            {{ 'Latest revision from @username'|t({ '@username': revision_author }) }}
          </strong>
        {% endif %}

        {% if revision_log_message %}
          <div class="content-moderation__log">
            <p class="content-moderation__log-message">
              {{ revision_log_message }}
            </p>
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="content-moderation__fields">
      {{ form.new_state }}
      {{ form.revision_log }}
    </div>

    <div class="content-moderation__message">
      <p>
       {{ 'This is the latest, unpublished, version of this page.'|t }}

        {% if node.isPublished() %}
          {% trans %}
            <a href="{{ node_url }}" target="_blank" rel="noopener" title="{{ node_title }}">
              View the version that is currently published.
            </a>
          {% endtrans %}

        {% else %}
          {{ 'There are currently no published versions.'|t }}
        {% endif %}
      </p>
    </div>

    <div class="content-moderation__button">
      {{ form.submit }}
    </div>

    {{ form|without('current', 'new_state', 'revision_log', 'submit') }}

  </div>
</details>
