<h4 class="field__label"></h4>
<div>
    {% for item in items %}
        <p>
            <span>{{ item.label | replace({':':',', '-':'to'}) }}</span>
            <span>{{ item.slots["#markup"] | replace({'-': 'to'}) }}</span>
            <span>{{ item.comments }}</span>
            <br />
        </p>
    {% endfor %}
    {% if schema %}
        {% for meta in schema %}
            <meta property="openingHours" content="{{ meta.label }}{{ meta.slots }}">
        {% endfor %}
    {% endif %}
</div>
