
  <div class="gjas-element gjas-keys js-form-item-sfgov-search-input">  {{ form.keys }} </div>
  <div class="gjas-element gjas-page visually-hidden"> {{ form.searchpage }} </div>
  <div class="gjas-element gjas-submit" data-drupal-selector="edit-actions"> {{ form.submit }} </div>
  {% if form.sort['#options'] is defined %}
    <div class="gjas-element gjas-sort"><label for="gjas-element-sort">Sort by:</label> {{ form.sort }} </div>
  {% endif %}

<div class="gjas-remainder">
    {{ form |without('sort')|without('keys')|without('searchpage')|without('submit')}}
</div> 
