<div class="sfgov-search-result">
  <div class="title-url"><a href="{{ result.link }}" target="_self"><h4>{{ result.htmlTitle | raw }}</h4></a></div>
  <div class="sfgov-search-result-body">
    <p>{{ highlight_search(result.snippet, term) }}</p>
    <a href="{{ result.link }}">{{ result.link }}</a>
  </div>
</div>
