{#
/**
 * @file
 * Template for ECK location entity, Event address (event_address) bundle.
 */
#}

{% extends 'eck-entity--location--physical.html.twig' %}
{% block content %}
  {% if content.field_address|render %}
    <div class="sfgov-location__address">
      {% if eck_entity.title.value %}
        <h4 class="sfgov-address__title">{{ eck_entity.title.value }}</h4>
      {% endif %}
      {{ content.field_address }}
    </div>
  {% endif %}

  {% if map_img_url %}
    <div class="sfgov-location__map">
      <a href="{{ map_site_url }}">
        <img src="{{ map_img_url }}" />
      </a>
    </div>
  {% endif %}

  {% if map_directions_url %}
    <p class="sfgov-location__directions">
      <a href="{{ map_directions_url }}">{{ 'Get directions'|t }}</a>
    </p>
  {% endif %}
{% endblock %}

