<form>
  <div class="form-group field-s02" data-id="{{ id }}">
    <label for="{{ id }}" class="control-label">{{ title }}</label>
    <div class="field-wrapper">
      <select id="{{ id }}" data-formtype="s02" name="{{ id }}" required="">
        <option value="">Choose an option</option>
        {{#each options }}
          <option value="{{ @index }}">{{ title }}</option>
        {{/each}}
      </select>
      <div class="help-block with-errors"></div>
    </div>
  </div>
</form>
