<form>
  <div class="form-group field-s08" data-id="{{ id }}">
    <fieldset>
      <legend class="control-label">{{ title }}</legend>
      <div class="field-wrapper">
        {{#each options }}
          <label for="{{ ../id }}_{{ @index }}">
            <input type="radio" id="{{../id}}_{{ @index }}" value="{{ title }}" data-formtype="s08" name="{{ ../id }}" required="">
            <span class="inline-label">{{ title }}</span>
          </label>
        {{/each}}
        <div class="help-block with-errors"></div>
      </div>
    </fieldset>
  </div>
</form>
