<footer class="sfgov-footer" role="contentinfo">
  <div class="sfgov-footer__container">
    <div class="sfgov-footer__top">
      {% if pl_test_content %}
        {% include 'molecules-footer-navigation' %}
      {% endif %}
      {{ footer_top_content }}
    </div>
    <div class="sfgov-footer__bottom">
      <div class="sfgov-container">
        <span class="logo">
          <img src="{{ footer.image_url }}" alt="{{ footer.image_alt }}"/>
        </span>
        <span class="text">
          {{ footer.text }}
        </span>
        {{ footer_bottom_content }}
      </div>
    </div>
  </div>
</footer>
