{# upcoming events #}

{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  'view-events'
]
%}

{% set current_display = view.current_display %}

{% block header %}
{% include "@theme/hero-banner-color.twig" with {
  "banner": {
    "title": "Events",
    "text":  header
  }
}
%}
{% endblock header %}

{% block events_nav %}
  {% set deptId = view.args[0] ? view.args[0] : 'all' %}

  <div class="sfgov-events-pill-container bg-green-1 mb-0 py-40 lg:mb-80">
    <div class="sfgov-events-pill-list-container">
      <ul class="sfgov-events-pill m-0 p-0 list-none flex text-center">
        <li class="sfgov-upcoming-events w-1/2 lg:w-auto"><a class="block no-underline text-body font-medium bg-white border-3 border-solid border-slate-3 rounded-l {{ current_display == 'page_1' ? 'current bg-slate-3 text-white' : '' }} px-20 py-16" href="/events">{{ "Upcoming"|t }} ({{ upcoming_event_count }})</a></li>
        <li class="sfgov-past-events w-1/2 lg:w-auto"><a class="block no-underline text-body font-medium bg-white border-3 border-solid border-slate-3 rounded-r {{ current_display == 'page_2' ? 'current bg-slate-3 text-white' : '' }} px-20 py-16" href="/past-events">{{ "Past events" | t }}</a></li>
      </ul>
    </div>
  </div>
{% endblock events_nav %}

{% block content %}
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title }}
    {{ title_suffix }}

    {{ exposed }}
    {{ attachment_before }}
  {# <div class="content">
    <div class="sfgov-section-container"> #}
      {% block rows %}
        {{ rows }}
      {% endblock rows %}
    {# </div>
  </div> #}
    {{ empty }}

    {% if pager and pager['#views_plugin'] %}
      {% set itemsPerPage = pager['#views_plugin'].options.items_per_page %}
      {% set totalItems = pager['#views_plugin'].total_items %}
      {% if totalItems > itemsPerPage %}
        <div class="mt-96">
          {{ pager }}
        </div>
      {% endif %}
    {% endif %}
    {{ attachment_after }}
    {% block more %}
      {{ more }}
    {% endblock more %}

    {{ feed_icons }}
  </div>
{% endblock content %}
