<form>
  <div class="form-group field-i02" data-id="{{ id }}">
    <label for="{{ id }}" class="control-label">{{ title }}</label>
    <div class="field-wrapper">
      <input id="{{ id }}" data-formtype="i02" name="{{ id }}" type="text" required="">
      <div class="help-block with-errors"></div>
      {{#if helptext}}
      	<div class="help-text">
      		<p>{{ helptext }}</p>
      	</div>
      {{/if}}
    </div>
  </div>
</form>
