{#
/**
 * @file
 * Default theme implementation for the docsearch.
 *
 * @see template_preprocess_docsearch()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('docsearch') }}>
  <form id="docsearch" role="search" data-search-target="{{ search_target }}">
    <label for="keywords" class="visually-hidden">{{ "Search this page"|t }}</label>
    <input type="text" id="keywords" name="keywords" spellcheck="false" aria-label="{{ "Enter keywords to search in the report"|t }}" placeholder="{{ "Search this page"|t }}">
    <div class="results-info">
      <div class="results-index"></div>
      <div class="results-nav">
        <a href="#" class="results-index-prev" aria-label="{{ "Previous match"|t }}"><svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.4598 10.755C16.2955 10.7555 16.1327 10.7236 15.9808 10.6609C15.829 10.5983 15.691 10.5062 15.5748 10.39L8.95983 3.77497L2.34483 10.39C2.22861 10.5062 2.09064 10.5984 1.93879 10.6613C1.78694 10.7242 1.62419 10.7565 1.45983 10.7565C1.12789 10.7565 0.809548 10.6247 0.574831 10.39C0.340114 10.1553 0.208252 9.83691 0.208252 9.50497C0.208252 9.17303 0.340114 8.85468 0.574831 8.61997L8.07483 1.11997C8.31063 0.887292 8.62857 0.756836 8.95983 0.756836C9.2911 0.756836 9.60904 0.887292 9.84483 1.11997L17.3448 8.61997C17.5775 8.85576 17.708 9.1737 17.708 9.50497C17.708 9.83623 17.5775 10.1542 17.3448 10.39C17.2287 10.5062 17.0907 10.5983 16.9388 10.6609C16.7869 10.7236 16.6241 10.7555 16.4598 10.755Z" fill="#4F66EE"/>
</svg></a>
        <a href="#" class="results-index-next" aria-label="{{ "Next match"|t }}"><svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.54017 0.24491C1.70447 0.244342 1.86726 0.276303 2.01915 0.338948C2.17105 0.401593 2.30904 0.493682 2.42517 0.60991L9.04017 7.22491L15.6552 0.609911C15.7714 0.493691 15.9094 0.401501 16.0612 0.338604C16.2131 0.275706 16.3758 0.243332 16.5402 0.243332C16.8721 0.243332 17.1905 0.375194 17.4252 0.609911C17.6599 0.844627 17.7917 1.16297 17.7917 1.49491C17.7917 1.82685 17.6599 2.14519 17.4252 2.37991L9.92517 9.87991C9.68937 10.1126 9.37143 10.243 9.04017 10.243C8.7089 10.243 8.39096 10.1126 8.15517 9.87991L0.655171 2.37991C0.422498 2.14411 0.292041 1.82618 0.292041 1.49491C0.292041 1.16364 0.422498 0.845704 0.655171 0.609909C0.771304 0.493682 0.909295 0.401593 1.06119 0.338948C1.21308 0.276303 1.37587 0.244342 1.54017 0.24491Z" fill="#4F66EE"/>
</svg></a>
      </div>
    </div>
    <button aria-label="{{ "Close"|t }}" type="button">
      <span class="visually-hidden">{{ "Clear" }}</span>
    </button>
  </form>
</div>
