<form>
  <div class="field-address">
    <fieldset>
      <legend>{{ title }}</legend>

      <div class="form-group">
        <label for="{{ id}}_line1">Address Line 1</label>
        <input type="text" id="{{ id}}_line1" required="required">
        <p class="help-block with-errors with-errors-inline"></p>
      </div>

      <div class="form-group">
        <label for="{{ id}}_line2">Address Line 2 <span class="optional">(optional)</span></label>
        <input type="text" id="{{ id }}_line2">
        <p class="help-block with-errors with-errors-inline"></p>
      </div>


      <div class="form-group">
        <label for="{{ id}}_city">City</label>
        <input type="text" id="{{ id}}-city" required="required" data-error="Please enter a city.">
        <p class="help-block with-errors with-errors-inline"></p>
      </div>

      <div class="field-address-state form-group">
        <label for="{{ id }}_state">State</label>
        <select id="{{ id }}_state" required="required" data-error="Please choose a state.">
          <option value="">Choose a state</option>
          {{#each states }}
            <option value="{{ value }}">{{ name }}</option>
          {{/each}}
        </select>
        <p class="help-block with-errors with-errors-inline"></p>
      </div>

      <div class="field-address-zip form-group">
        <label for="{{ id }}_zip" required="required" data-error="Please enter a ZIP code.">ZIP code</label>
        <input type="number" id="{{ id}}_zip" maxlength="5" class="length-5">
        <p class="help-block with-errors with-errors-inline"></p>
      </div>
    </fieldset>
  </div>
</form>
