<fieldset>
  <legend>{{ 'Quick links'|t }}</legend>

  <ul class="no-indent">
    <li><a href="/node/add">{{ 'Add new content'|t }}</a></li>
    <li><a href="/admin/content">{{ 'View recent content'|t }}</a></li>
    <li><a href="/admin/content?uid={{ user_name }}">{{ 'View content by @user'|t({'@user': is_own_account ? 'you' : user_name}) }}</a></li>
  </ul>
</fieldset>
