<form>
  <div class="form-group field-d08" data-id="{{ id }}">
    <label for="{{ id }}" class="control-label">{{ title }}</label>
    <div class="field-wrapper">
      <div class="prepended dollar">$</div>
      <input id="{{ id }}" data-formtype="d08" name="{{ id }}" type="number" required="" step="0.01" data-required-error="You need to enter a valid price.">
      <div class="help-block with-errors"></div>
    </div>
  </div>
</form>
