{#
/**
 * @file
 * Address component template.
 */
#}
{% set title_tag = title_tag|default('span') %}

<p class="address" translate="no">
  {% if title %}
    <{{ title_tag }} class="address__title">{{ title }}</{{ title_tag }}>
    {% if title_tag == 'span' %}<br>{% endif %}
  {% endif %}

  {% if addressee %}
    <span class="address__addressee">{{ addressee }}</span><br>
  {% endif %}

  {% if location_name %}
    <span class="address__location-name">{{ location_name }}</span><br>
  {% endif %}

  {% if line1 %}
    <span class="address__line1">{{ line1 }}</span><br>
  {% endif %}

  {% if line2 %}
    <span class="address__line2">{{ line2 }}</span><br>
  {% endif %}

  {% if city or state or zip %}
    <span class="address__city-state-zip">{{ city }}, {{ state }} {{ zip }}</span>
  {% endif %}
</p>
