{{ attach_library('sfgov_alerts/alert') }}

{% if style == 'informational' %}
  {% set bgClass = 'bg-blue-2' %}
{% elseif style == 'critical' %}
  {% set bgClass = 'bg-red-3 text-white' %}
{% endif %}

{% set dsClasses = [
  'alert',
  'py-16',
  'px-20',
  'text-small',
  'lg:px-96',
  'lg:py-28',
  'lg:text-body',
  bgClass,
] %}

{% set date_today = 'now'|date('Y-m-d') %}

{% if date_today <= date_exp  %}
  <div{{ attributes.addClass(dsClasses).setAttribute('data-exp', date_exp).setAttribute('data-style', style) }}>
    <div class="flex items-center">
      <sfgov-icon class="mr-20" symbol="alert"></sfgov-icon>
      <div>
        {{ title_prefix }}
        {{ title_suffix }}
        {{ content.field_alert_text }}
      </div>
    </div>
  </div>
{% endif %}
