<div class="opacity-10 border-solid border-slate border-t-3 border-l-0 border-r-0 border-b-0"></div>
<div class="pt-40 pb-60 {% if banner.notranslate %} {{ banner.notranslate }}{% endif %}">
  {% if banner.label %}
    <div class="text-body mb-40">{{ banner.label }}</div>
  {% endif %}
  <div class="flex flex-col items-start mb-20 lg:mb-60 lg:flex-row">
    {% block logo %}
      {% if banner.logo %}
        <img src="{{ banner.logo }}"/>
      {% endif %}
    {% endblock logo %}
    <h1 class="m-0 p-0 text-black font-light text-display-sm-desktop lg:text-display-lg-desktop lg:mr-80">{{ banner.title }}</h1>
  </div>
  {% if banner.text %}
    <p class="text-black text-big-desc lg:text-big-desc-desktop">{{ banner.text }}</p>
  {% endif %}
</div>
