<header class="hero-banner color {{ banner.notranslate ?? '' }} {{ banner.color ?? '' }}">
  <div class="responsive-container hero-banner--container">
    {% if banner.label %}
      <div class="hero-banner-label">
        {{ banner.label|raw }}
      </div>
    {% endif %}
    <h1>{{ banner.title|raw }}</h1>
    {% if banner.text %}
      <p class="lead-paragraph">{{ banner.text|striptags|raw }}</p>
    {% endif %}
    {% if banner_subtitle %}
      <div class="hero-banner-subtitle">{{ banner_subtitle }}</div>
    {% endif %}
  </div>
</header>
