<span class="hero-banner--border"><span class="hero-banner--border-contain"></span></span>
<div class="hero-banner default{% if banner.notranslate %} {{ banner.notranslate }}{% endif %}">
  <div class="">
    {{ banner.label }}
    <div class="hero-banner--logo-wrapper">
      {% block logo %}
        {% if banner.logo %}
          <img class="hero-banner--logo" src="{{ banner.logo }}"/>
        {% endif %}
      {% endblock logo %}
      <h1 class="hero-banner--title">{{ banner.title }}</h1>
    </div>
    {% if banner.text %}
      <p class="lead-paragraph">{{ banner.text }}</p>
    {% endif %}
  </div>
</div>
