{{ attach_library('sfgovpl/twitter-feed') }}
<div class="news-front">
  <h2>{{ "News"|t }}</h2>
  <div class="news-front--container">
    <div class="news-front--view">
      {{ rows }}
      {% if count > 0 %}
        {% for n in 1..count %}
          <div class="views-row" style="visibility:hidden"></div>
        {% endfor %}
      {% endif %}

      <div class="news-front--view-more">
        {{ more }}
      </div>
    </div>

    <div class="news-front--twitter">
      <h2>{{ "Department tweets"|t }}</h2>
      <a class="twitter-timeline" data-theme="light" data-link-color="#4f66ee" href="https://twitter.com/sfgov/lists/official-agencies?ref_src=twsrc%5Etfw">{{ "A Twitter List by sfgov"|t }}</a>
    </div>
  </div>
</div>
