<div class="person-container">
    <div class="person-photo" style="background-image:url({{ photo }});" title="{{ first_name }} {{ last_name }}">
        <img src="" alt="{{ first_name }} {{ last_name }}"/>
    </div>
    <div class="person-bio">
        <div class="person-name notranslate"><a href="{{ url }}">{{ first_name }} {{ last_name }}</a></div>
        <div class="person-title">{{ position_title }}</div>
        <div class="person-subtitle">{{ position_subtitle }}</div>
    </div>
</div>