{# @todo This is kind of hacky.
   The Mayor paragraph should probably be its own type.#}
{% if position_title == 'Mayor' %}
  {% set is_mayor = true %}
{% endif %}

<div class="person-card person-container">
  <div class="person-photo" style="background-image:url({{ photo }});" title="{{ first_name }} {{ last_name }}">
    <img src="" alt="{{ first_name }} {{ last_name }}"/>
  </div>
  <div class="person-bio">
    <div class="person-name notranslate">
      <a href="{{ url }}">{{ first_name }} {{ last_name }}</a>
    </div>
    <div class="person-title">{{ position_title }}</div>
    {% if is_mayor %}
  </div>
  <div class="person-subtitle">{{ position_subtitle }}</div>
  {% else %}
    <div class="person-subtitle">{{ position_subtitle }}</div>
  </div>
{% endif %}
</div>
