{# @todo This is kind of hacky.
   The Mayor paragraph should probably be its own type.#}
{% if position_title == 'Mayor' %}
  {% set is_mayor = true %}
{% endif %}

{% if photo is empty %}
  {% set photo = '/themes/custom/sfgovpl/src/img/sf-seal-3x.png' %}
{% endif %}

<div class="person-card person-container">
  <div class="person-photo"
       title="{{ first_name }} {{ last_name }}">
    <img loading="lazy" src="{{ photo }}" alt="{{ first_name }} {{ last_name }}"/>
  </div>
  <div class="person-bio">
  {% if commission_position %}
    <div class="person-position">
    {% trans %}
      {{ commission_position }}
    {% endtrans %}
    </div>
  {% endif %}
    <div class="person-name notranslate">
      <a href="{{ url }}">{{ first_name }} {{ last_name }}</a>
    </div>
    {% if position_title %}
      <div class="person-title">
        {{ '@position_title'|t({'@position_title': position_title}) }}
      </div>
    {% endif %}
    {% if position_subtitle %}
      <div class="person-subtitle">
        {{ '@position_subtitle'|t({'@position_subtitle': position_subtitle}) }}
      </div>
    {% endif %}
    {% if bio_summary %}
      <div class="person-bio-summary">
        {{ bio_summary }}
      </div>
    {% endif %}
  </div>
</div>
