{% if elem %}
  {% set el = elem %}
{% else %}
  {% set el = 'h3' %}
{% endif %}
<a class="sfgov-topic-card" href="{{ url }}">
  <{{ el }} class="title">{{ title }}</{{ el }}>
  <p class="description">
    {{ description }}
  </p>
</a>
