<form>
  <div class="form-group field-d06" data-id="{{ id }}">
    <label for="{{ id }}" class="control-label">{{ title }}</label>
    <div class="field-wrapper">
      <input id="{{ id }}" data-formtype="d06" type="number" required="" step="any" data-required-error="You need to enter a number." class="length-5">
      {{#if units}}
        <span class="units">{{ units }}</span>
      {{/if}}
      <div class="help-block with-errors"></div>
    </div>
  </div>
</form>
