{#
/**
 * Image attributes template.
 */
#}
<span class="image-name">{% if name %}"{{ name }}"{% else %}{{ 'Image'|t }}{% endif %}</span>
{% if author %}
  <span class="image-author">by {% if url %}<a href="{{ url }}" target="_blank">{{ author }}</a>{% else %}{{ author }}{% endif %}</span>
{% endif %}
{% if license %},
  <span class="image-license">{{ license }}</span>
{% endif %}
