{% set attributes = options.attributes ? create_attribute(options.attributes) : [] %}
<a href="{{ href }}" class="btn {{ classes|merge(options.attributes.class)|join(' ') }} {{ options.attributes}}" {{ attributes }}>{{ text }}</a>
