<form>
  <div class="form-group field-c06" data-id="{{ id }}">
    <label for="{{ id }}" class="control-label">{{ title }}</label>
    <div class="field-wrapper">
      <input id="{{ id }}" data-formtype="c06" name="{{ id }}" type="tel" required="" data-required-error="You need to enter a valid phone number." class="length-15">
      <div class="help-block with-errors"></div>
    </div>
  </div>
</form>
