{#
/**
 * @file
 * Template for the plain address formatter, for "Event address" location
 * entity.
 *
 * The following fields are not exposed for content entry and contain no data:

 *   - given_name (first name)
 *   - additional_name (middle name)
 *   - family_name (last name)
 *   - dependent_locality.code (neighborhood)
 *   - organization
 *   - addressee
 *   - location_name
 *
 * The following fields contain data, but are omitted for design purposes.
 *   - country (everything is in the US)
 */
#}
<p class="address" translate="no">
  {% if address_line1 %}
    {{ address_line1 }} <br>
  {% endif %}

  {% if address_line2 %}
    {{ address_line2 }} <br>
  {% endif %}

  {% if locality or postal_code or administrative_area.code %}
    {{ locality }}, {{ administrative_area.code }} {{ postal_code }}<br>
  {% endif %}
</p>
