{% set fullClass = relatedDept is empty ? "full" : "" %}
<div class="sfgov-transaction-search--container {{ fullClass }}">
  <a class="title-url" href="{{ url.url }}" {{ url.external ? "target='_blank'" : '' }}><h4>{{ title }}</h4></a>
  <div class="body-container">
    {% if relatedDept %}
      <div class="related-dept">{{ relatedDept }}</div>
    {% endif %}
    <p class="body">{{ body|striptags('<a>')|raw }}</p>
  </div>
</div>