<!DOCTYPE html>
<html class="{{ htmlClass }}">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    {#<link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />#}
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all"/>
    <link rel="stylesheet" href="../../css/components.css" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/solid.css" integrity="sha384-Rw5qeepMFvJVEZdSo1nDQD5B6wX0m7c5Z/pLNvjkB14W6Yki1hKbSEQaX9ffUbWe" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css" integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV" crossorigin="anonymous">
    {# todo: check if fonts are going to be selfhosted or not. #}
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat|Open+Sans|Source+Sans+Pro:400,700"
          media="all"/>
    <script src="../../js/dist/uswds.min.js"></script>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

</head>
<body class="{{ bodyClass }}">

