{% set classes= [
  'sfgov-service-card',
  invisible ? 'invisible'
]%}

<a href="{{ invisible ? '' : url }}" {{ attributes.addClass(classes) }}>
  {% if invisible == 'invisible' %}
  {% else %}
    <{{ heading ? heading : 'h3' }} class="service-card--title title">{{ title }}</{{ heading ? heading : 'h3' }}>
    <p class="description">
      {{ description }}
    </p>
  {% endif %}
</a>
