<div {{ result.attributes }}>
  <h3 class="vaccine-site__title notranslate">
    {{ result.site_name }}
  </h3>

  <span class="distance"></span>

  {# Open to .. #}
  {% if result.restrictions_text %}
    <div class="vaccine-site__restrictions notranslate">
      {# Raw tag is used here because this field can contain HTML. #}
      {{ result.restrictions_text|raw }}
    </div>
  {% endif %}

  {# Address. #}
  {% if result.result.location.url %}
    <div class="vaccine-site__address notranslate icon">
      <a href="{{ result.location.url }}">{{ result.location.address }}</a>
    </div>
  {% endif %}

  {# Languages #}
  {% if result.languages %}
    <div class="vaccine-site__languages notranslate icon">
      <label>{{ template_strings.result.languages.label|t }}</label>
      <div>
        {{ result.languages|join(', ') }}
      </div>
    </div>
  {% endif %}

  {# Drive thru, walk thru, wheelchair #}
  {% if result.access_modes %}
    <div class="vaccine-site__access-mode notranslate icon">
      <label>{{ template_strings.result.access_modes.label|t }}</label>
      {{ result.access_modes|join(', ') }}
    </div>
  {% endif %}

  {% if result.info_url %}
    <div class="notranslate">
      <a href="{{ result.info_url }}">
        {{ template_strings.result.info_url.label|t }}
      </a>
    </div>
  {% endif %}
  {% include '@theme/vaccine/vaccine-site--booking.twig' %}
</div>
