<div {{ result.attributes }}>
  <h3 class="vaccine-site__title notranslate">
    {{ result.site_name }}
  </h3>
  {# address_url #}
  {% if result.address_url %}
    <div class="vaccine-site__address notranslate icon">
      <a href="{{ result.address_url }}">{{ result.address_text }}</a>
    </div>
  {% endif %}

  <div class="vaccine-site__eligibility-availability">
    {# Open to .. #}
    {% if result.restrictions_text %}
      <div class="vaccine-site__restrictions notranslate">
        <label>{{ result.restrictions_text }}</label>
      </div>
    {% endif %}
    {# 65 and over, etc #}
    <div class="vaccine-site__eligibilities notranslate">
      {% for eligibility in result.eligibilities %}
        <span class="vaccine-site__eligibility">{{ eligibility }}</span>
      {% endfor %}
    </div>
  </div>

  {# Languages #}
  {% if result.languages %}
    <div class="vaccine-site__languages notranslate icon">
      <label>{{ template_strings.result.languages.label|t }}</label>
      <div>
        {{ result.languages|join(', ') }}
      </div>
    </div>
  {% endif %}

  {# Drive thru, walk thru, wheelchair #}
  {% if result.access_modes %}
    <div class="vaccine-site__access-mode notranslate icon">
      <label>{{ template_strings.result.access_modes.label|t }}</label>
      {{ result.access_modes|join(', ') }}
    </div>
  {% endif %}

  {% if result.info_url %}
    <div class="field notranslate">
      <a href="{{ result.info_url }}">
        {{ template_strings.result.info_url.label|t }}
      </a>
    </div>
  {% endif %}
  {% include '@theme/vaccine/vaccine-site--booking.twig' %}
</div>
