{#
  The following values are translated in the API and should not be registered for Drupal translation.
  @see https://vaccination-site-microservice.vercel.app/api/v1/appointments?lang=es

  - result.booking.info
  - result.remote_translation.info
  - result.open_to.text
#}

{# Define dynamic text. #}
{% if result.available != 'null' and result.booking.url %}
  {% set booking_box_classes = ['vaccine-site__booking_box'] %}

  {% if result.available != 'null' %}
    {% set field_classes = ['field'] %}
    {% set fancy = true %}
  {% endif %}
  {% if result.available == 'yes' %}
    {% set fancy_text = 'Appointments available as of'|t %}
    {% set btn_classes = ['sfgov-cta-button__container', 'notranslate'] %}
    {% set btn_text = 'Book an appointment'|t %}
  {% elseif result.available == 'no' %}
    {% set fancy_text = 'No appointments as of'|t %}
    {% set btn_classes = ['field', 'notranslate'] %}
    {% set btn_text = 'Visit booking website'|t %}
  {% endif %}
{% elseif result.booking.url or result.booking.info %}
  {% set booking_box_classes = [
    'vaccine-site__booking_box',
    'notranslate',
    result.booking.dropins ? 'js-dropin'
  ] %}
  {% set btn_classes = ['sfgov-cta-button__container', 'no-pad'] %}
  {% set btn_text = 'Check for availability'|t %}
{% endif %}

{# Create attributes. #}
{% set booking_box_attributes = create_attribute() %}
{% set field_attributes = create_attribute() %}
{% set btn_attributes = create_attribute() %}

{# Define reusuable blocks of code. #}
{% set block_info %}
  {% if result.booking.info %}
    <div class="vaccine-site__booking_info notranslate">
      {# Raw tag is used here because this field can contain HTML. #}
      {{ result.booking.safe_info|raw }}
    </div>
  {% endif %}
{% endset %}

{% set block_booking_link %}
  {% if result.booking.url %}
    <div {{ btn_attributes.addClass(btn_classes) }}>
      <a href="{{ result.booking.url }}">{{ btn_text }}</a>
    </div>
  {% endif %}
  {% if result.booking.phone %}
    <div class="field">
      {{ 'Or call'|t }}
      <a href="tel:{{ result.booking.phone }}">{{ result.booking.phone }}</a>
    </div>
  {% endif %}
{% endset %}

{# Render box. #}
<div {{ booking_box_attributes.addClass(booking_box_classes) }}>
  {% if fancy == true %}
    <div {{ field_attributes.addClass(field_classes) }}>
      <strong>
        <span class="notranslate">{{ fancy_text }}</span>
        {{ result.last_updated }}
      </strong>
      {{ block_info }}
    </div>
    {{ block_booking_link }}
  {% else %}
    {{ block_info }}
    {{ block_booking_link }}
  {% endif %}
</div>
