{#
  The following values are translated in the API and should not be registered for Drupal translation.
  @see https://sfgov-vaccine-sites.herokuapp.com/api/v1/appointments?lang=es

  - result.booking.info
  - result.remote_translation.info
  - result.open_to.text
#}

{# Define dynamic text. #}
{% if result.available != 'null' and result.booking.url %}
  {% set booking_box_classes = ['vaccine-site__booking_box'] %}

  {% if result.available != 'null' %}
    {% set field_classes = ['box-item-indented', 'vaccine-site__updated'] %}
    {% set fancy = true %}
  {% endif %}
  {% if result.available == 'yes' %}
    {% set fancy_text = 'Appointments available as of'|t %}
    {% set btn_classes = [
      'sfgov-cta-button__container',
      'vaccine-site__booking-button'
    ] %}
    {% set btn_text = 'Book an appointment'|t %}
  {% elseif result.available == 'no' %}
    {% set fancy_text = 'No appointments as of'|t %}
    {% set btn_classes = [
      'box-item-indented',
      'vaccine-site__booking-link'
    ] %}
    {% set btn_text = 'Visit booking website'|t %}
  {% endif %}
{% elseif result.booking.url or result.booking.info %}
  {% set booking_box_classes = [
    'vaccine-site__booking_box',
    result.booking.dropins ? 'js-dropin'
  ] %}
  {% set btn_classes = [
    'sfgov-cta-button__container',
    'vaccine-site__booking-button'
  ] %}
  {% set btn_text = 'Check for availability'|t %}
{% endif %}

{# Create attributes. #}
{% set booking_box_attributes = create_attribute() %}
{% set field_attributes = create_attribute() %}
{% set btn_attributes = create_attribute() %}

{# Define reusuable blocks of code. #}
{% set block_info %}
  {% if result.booking.info %}
    <div class="box-item-indented vaccine-site__booking_info">
      {# Raw tag is used here because this field can contain HTML. #}
      {{ result.booking.safe_info|raw }}
    </div>
  {% endif %}
{% endset %}

{% set block_booking_link %}
  {% if result.booking.url %}
    <div {{ btn_attributes.addClass(btn_classes) }}>
      <a class="btn btn-block lg:inline-flex lg:w-auto" href="{{ result.booking.url }}">{{ btn_text }}</a>
    </div>
  {% endif %}
  {% if result.booking.phone %}
    <div class="vaccine-site__phone text-center lg:text-left {{ result.available == 'no' ? 'box-item-indented' }}">
      {{ template_strings.result.phone.label|t }}
      <a href="tel:{{ result.booking.phone }}">{{ result.booking.phone }}</a>
    </div>
  {% endif %}
{% endset %}

{# Render box. #}
<div {{
  booking_box_attributes
    .addClass(booking_box_classes)
    .addClass([
      'bg-blue-1',
      'p-20', 'md:p-40',
      'mt-40', 'space-y-16'
    ])
}}>
  {% if fancy == true %}
    <div {{ field_attributes.addClass(field_classes) }}>
      <strong>
        <span>{{ fancy_text }}</span>
        {{ result.last_updated }}
      </strong>
    </div>
    {{ block_info }}
    {{ block_booking_link }}
  {% else %}
    {{ block_info }}
    {{ block_booking_link }}
  {% endif %}
</div>
