<div class="sfgov-container">
  <nav class="sfgov-tabbed-navigation">

    {% if pl_test_content and main_navigation %}
      <ul>
        {% for item in tabbed_navigation %}
          <li>
            <a href="{{ item.link }}">{{ item.label }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {# Drupal specific #}

    {% if primary %}
      <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
      <ul>{{ primary }}</ul>
    {% endif %}

    {% if secondary %}

      <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
      <ul>{{ secondary }}</ul>

    {% endif %}

  </nav>
</div>
