{% extends 'node.html.twig' %}

{% block title %}
{% endblock title %}

{% block body %}
  {{ content.field_image }}
  <div class="news--teaser--body">
    <h2{{ title_attributes.addClass(title_classes) }}><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
    {{ content|without('links', 'field_image') }}
  </div>
{% endblock body %}
