{% extends 'node--full.html.twig' %}

{% set bundle = node.bundle|clean_class %}

{% block header %}
  {{ title_prefix }}
  {% include '@theme/hero-banner-color.twig' with {
    'banner': {
      'label': node.type.entity.label | t,
      'title': node.label,
      'text': content.field_description|render
    }
  } %}
  {{ title_suffix }}
{% endblock header %}

{% block content %}
  <div class="step-by-step-content">
    {{ content|without(
      'content_moderation_control',
      'field_description',
      'field_topics',
      'field_departments'
    ) }}
  </div>

  {% include '@theme/last-updated.twig' with {
    'date': node.changedtime|date('F j, Y')
  } %}

  {% if content.field_departments['#items'] is not empty %}
    <div class="ankle {{ bundle }}--ankle">
      {{ content.field_departments }}
    </div>
  {% endif %}
{% endblock content %}
