{% extends 'node--full.html.twig' %}

  {% block header %}
    {% include '@theme/hero-banner.twig' with {
      'banner': {
        'title': label,
        'text': content.field_description|render
      }
    } %}
    {{ title_suffix }}
  {% endblock header %}

  {% block footer %}
    <div class="event--meta{{ content.field_image|render|striptags ? ' has-image' : ' no-image'}}">
      <div class="event--meta-inner">
        <div class="event--meta-left">
          <div class="event--meta-date">
            {{ content.field_start_date }}<br/>
            {{ content.field_end_date }}
          </div>
          <div class="event--meta-cost">
            {{ content.field_cost }}
          </div>
        </div>
        <div class="event--meta-right">
          {{ content.field_address[0]['#location'].title.value }}
          {# {{ content.field_address }} #}
        </div>
      </div>
    </div>
    {% endblock footer %}

  {% block content %}
    <div class="event--content-container">
      <div class="event--content-body">
        {{ content | without(
          'field_start_date',
          'field_end_date',
          'field_cost',
          'field_address',
          'field_call_to_action',
          'field_email',
          'field_phone_numbers',
          'field_dept'
        ) }}
      </div>
      <div class="event--content-sidebar">
        {{ content.field_call_to_action }}
        {{ content.field_address }}
        {{ content.field_phone_numbers }}
        {{ content.field_email }}
      </div>
    </div>
    <div class="{{ bundle }}--footer">
      {{ content.field_dept }}
    </div>
  {% endblock content %}