
{% set description = node.get('field_description').getValue()[0]['value'] %}
{# {% if content.field_image['#items'] %}
  {% set image = content.field_image %}
{% endif %} #}

<div class="sfds-layout-container">
  <div class="sfds-responsive-container">
    {# {% include "@molecules/06-headers/01-content-head.twig" with {
      "title": node.getTitle(),
      "description": description,
      "image": image
    } %} #}

    {% include '@theme/hero-banner-default.twig' with {
      'banner': {
        'title': node.label,
        'text': content.field_description|render
      }
    } %}

  </div>
</div>


{% if dept_fields.featured_items %}
    <div id="sfgov-dept-featured-items" class="sfgov-dept-section sfgov-dept-section-content-container">
      <div class="sfgov-dept-featured-items-container">
        <div class="sfgov-dept-featured-items">
            {% set i = 3 %}
            {% for featured_item in dept_fields.featured_items %}
              {% include "@molecules/11-featured-item/11-featured-item.twig" with {
                "title": featured_item.title | t,
                "description": featured_item.description | t,
                "url": featured_item.url | t
              }%}
              {% set i = i - 1 %}
            {% endfor %}
            {% if i > 0 %}
              {% for n in 1..i %}
                {% include "@molecules/11-featured-item/11-featured-item.twig" with {
                  "title": '',
                  "description": '',
                  "url": '#',
                  "empty": true
                }%}
              {% endfor %}
            {% endif %}
        </div>
      </div>
    </div>
{% endif %}

  <div id="sfgov-dept-in-this-page" class="sfgov-dept-in-this-page sfds-layout-container">
    <div class="sfgov-dept-in-this-page-container sfds-responsive-container">
      <div class="sfgov-dept-in-this-page-label">In this page:</div>
      <ul></ul>
    </div>
  </div>

{% if dept_fields.services.values %}
  <a name="services"></a>
  <div id="sfgov-dept-services" class="sfgov-dept-section sfgov-dept-services-list sfds-layout-container">
    <div class="sfgov-services-container sfds-responsive-container">
      <h3>{{ dept_fields.services.label }}</h3>
    {% for service in dept_fields.services.values %}
        <div class="sfgov-services-section sfgov-dept-section-content-container">
          <h4>{{ service.title }}</h4>
          <div class="sfgov-services-transactions-container">
            {% set i = 3 %}
            {% for transaction in service.transactions %}
              {% if loop.first %}
              <div class="sfgov-services-transactions" data-attr="row">
              {% endif %}
                {% include "@molecules/12-service-card/12-service-card.twig" with {
                  "title": transaction.tx_title,
                  "description": transaction.tx_description,
                  "url": transaction.tx_url
                }%}
                {% set i = i - 1 %}
              {% if loop.index is divisible by(3) %}
                </div><div class="sfgov-services-transactions" data-attr="row">
              {% endif %}
              {% if loop.last %}
                {% if i >= 1 %}
                  {% for n in 1..i %}
                    {% include "@molecules/12-service-card/12-service-card.twig" with {
                      "title": '',
                      "description": '',
                      "url": '',
                      "empty": true
                    }%}
                  {% endfor %}
                {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
    {% endfor %}
    </div>
  </div>
{% endif %}

{% if dept_fields.spotlight %}
  <div id="sfgov-dept-spotlight" class="sfgov-dept-spotlight sfgov-dept-section sfds-layout-container">
    <div class="sfds-responsive-container sfds-responsive-container-right-zero">
      <div class="sfgov-spotlight">
        <div class="sfgov-spotlight-text sfgov-spotlight-section">
          <h3>
            {{ dept_fields.spotlight.title }}
          </h3>
          <p>
            {{ dept_fields.spotlight.description }}
          </p>
          {% if dept_fields.spotlight.button_text and dept_fields.spotlight.button_uri %}
            <a class="sfgov-spotlight-button" href="{{ dept_fields.spotlight.button_uri }}">{{ dept_fields.spotlight.button_text }}</a>
          {% endif %}
        </div>
        {% if dept_fields.spotlight.image_url %}
          <div class="sfgov-spotlight-image sfgov-spotlight-section" style="background-image: url({{ dept_fields.spotlight.image_url }})">
            <img alt="{{ image_alt }}" src="{{ dept_fields.spotlight.image_url }}"/>
          </div>
        {% endif %}
      </div>

    </div>
  </div>
{% endif %}

{{ department_news }}

{{ department_events }}

{% if dept_fields.resources.items %}
  <a name="resources"></a>
  <div id="sfgov-dept-resources" class="sfgov-dept-section sfgov-dept-resources">
    <h3>{{ dept_fields.resources.label }}</h3>
    <div class="sfgov-dept-section-content-container">
      <div class="sfgov-dept-resources-container">
        <div class="sfgov-dept-resource-items">
          {% for item in dept_fields.resources.items %}
            {% include "@molecules/14-resource-card/14-resource-card.twig" with {
              "title": item.title,
              "description": item.description,
              "url": item.url
            }%}
            {% if loop.index is divisible by (2) %}
              </div><div class="sfgov-dept-resource-items">
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if(dept_fields.about) %}
  <a name="about"></a>
  <div id="sfgov-dept-about" class="sfgov-dept-section sfgov-dept-about sfds-layout-container">
    <div class="sfgov-dept-about-container sfds-responsive-container sfds-responsive-container-right-zero">
      <h3>About</h3>
      <div class="sfgov-dept-about-content">
        <div class="sfgov-dept-about-content-left sfgov-dept-about-content-section">
          <div class="sfgov-dept-about-description">
            {{ dept_fields.about.description }}
          </div>
          {% if dept_fields.about.divisions %}
            <div class="sfgov-dept-about-divisions">
              <h4>Divisions</h4>
              <ul>
              {% for division in dept_fields.about.divisions %}
                <li><a href="{{ division.dept_url }}">{{ division.dept_name }}</a></li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% if dept_fields.about.public_bodies %}
            <div class="sfgov-dept-about-public-bodies">
              <h4>Public Bodies</h4>
              <ul>
              {% for publicBody in dept_fields.about.public_bodies %}
                <li><a href="{{ publicBody.url }}">{{ publicBody.name }}</a></li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
        <div class="sfgov-dept-about-content-right sfgov-dept-about-content-section sfds-responsive-container-right-zero">
          {% if dept_fields.about.logo_url %}
            <div class="sfgov-dept-about-logo sfgov-logo">
              <img src="{{ dept_fields.about.logo_url }}" />
            </div>
          {% endif %}
          {% if dept_fields.about.cta %}
            <div class="sfgov-dept-about-cta sfgov-cta">
              <h5>{{ dept_fields.about.cta.title }}</h5>
              <a href="{{ dept_fields.about.cta.url }}">{{ dept_fields.about.cta.button_text }}</a>
            </div>
          {% endif %}
          {% if dept_fields.about.social.values %}
            <div class="sfgov-dept-about-social sfgov-social">
              <h5>{{ dept_fields.about.social.title }}</h5>
              <ul class="sfgov-social-list">
              {% for socialMedia in dept_fields.about.social.values %}
                <li class="{{ socialMedia.label | lower }}"><a href="{{ socialMedia.url }}">{{ socialMedia.label }}</a></li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if dept_fields.about.people %}
    <div class="sfgov-dept-about-people sfgov-dept-section">
      <div class="sfgov-dept-section-content-container">
        <ul class="sfgov-dept-about-people-list">
          {% for i in 0..2 %} {# only do first 3 people #}
            {% set person = dept_fields.about.people[i] %}
            <li class="sfgov-dept-about-people-list-item">
              <div class="person-image" style="background-image: url({{ person.photo }})"><img alt="{{ person.alt }}" /></div>
              <div class="person-details">
                <h5>{{ person.first_name }} {{ person.last_name }}</h5>
                <p>{{ person.title }}</p>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endif %}

{% if dept_fields.address or dept_fields.phone_numbers or dept_fields.email %}
  <a name="contact"></a>
  <div id="sfgov-dept-contact" class="sfgov-dept-section sfgov-dept-contact sfds-layout-container">
    <div class="sfgov-dept-contact-content sfds-responsive-container">
      <div class="sfgov-contact-container">
        <h3>Contact</h3>
        <div class="sfgov-dept-section-content-container">
          {% if dept_fields.address %}
            <div class="sfgov-contact-section address">
              <h5>{{ dept_fields.address.organization }}</h5>
              <p>
                {{ dept_fields.address.line1 }} <br/>
              {% if dept_fields.address.line2 %}
                {{ dept_fields.address.line2 }} <br/>
              {% endif %}
                {{ dept_fields.address.city }}, {{ dept_fields.address.state }} {{ dept_fields.address.zip }}
              </p>
            </div>
          {% endif %}
          {% if dept_fields.phone_numbers %}
            <div class="sfgov-contact-section phone-numbers">
              <h5>Phone</h5>
              {% for phone in dept_fields.phone_numbers %}
                <div class="phone">
                  <h6>{{ phone.owner }}</h6>
                  <p><a href="tel:{{ phone.number }}">{{ phone.number }}</a></p>
                  <div class="details">
                    {{ phone.details | raw }}
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {% if dept_fields.email %}
            <div class="sfgov-contact-section email">
              <h5>Email</h5>
              <p><a href="mailto:{{ dept_fields.email }}">{{ dept_fields.email }}</a></p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if dept_fields.public_records %}
  <div class="sfgov-dept-section sfgov-dept-public-records sfds-layout-container">
    <div class="sfgov-dept-public-records-content-container sfds-responsive-container">
      <div class="sfgov-dept-public-records-content">
        <h5>Request public records</h5>
        <p>
        {% if dept_fields.public_records.method == "phone" %}
          <a href="tel:{{ dept_fields.public_records.value }}">Call {{ dept_fields.public_records.value }}</a> to submit a request.
        {% elseif dept_fields.public_records.method == "email" %}
          <a href="mailto:{{ dept_fields.public_records.value }}">Email {{ dept_fields.public_records.value }}</a> to submit a request.
        {% elseif dept_fields.public_records.method == "link" %}
          <a href="{{ dept_fields.public_records.value }}">Submit requests</a> for the {{ node.getTitle() }}.
        {% endif %}
        </p>
      </div>
    </div>
  </div>
{% endif %}

  {# {% set render_content = false %}

  {% if node.get('field_url').isEmpty() == false %}
    {% set render_content = true %}
  {% elseif node.get('field_address').isEmpty() == false %}
    {% set render_content = true %}
  {% elseif node.get('field_phone_numbers').isEmpty() == false %}
    {% set render_content = true %}
  {% endif %}

  {% if render_content %}
    {% include "@organisms/04-containers/01-sidebar.twig" with {
      "side": "right",
      "title": "Contact"|t,
      "content": [content.field_url,
        content.field_address,
        content.field_phone_numbers]
    } %}
  {% endif %} #}

  {# Dept Fields: <br/>
  <pre>
  {{ dump(dept_fields) }}
  </pre>

  Services section: <br/>
  <pre>
  {{ dump(dept_fields.services) }}
  </pre>

  First service section: <br/>
  title: {{ dept_fields.services.values.0.title}}
  <pre>
  {{ dump(dept_fields.services.values.0.transactions) }}
  </pre> #}
</div>

