{%
  set header_text = 
    meeting_is_past
    ? 'This meeting took place on @date'|t({'@date': node.field_start_date.date|date('M d, Y')})
    : 'This meeting will be taking place on @date'|t({'@date': node.field_start_date.date|date('M d, Y')})
%}

<article{{ attributes.addClass(classes) }}>
  {% include '@theme/hero-banner-color.twig' with {
    'banner': {
      'title': node.label,
      'text': header_text,
      'label': 'Meeting'|t
    }
  } %}

  {% if content.field_meeting_cancel[0]['#markup'] %}
  <div class="sfgov-section sfgov-section-callout">
    <div class="sfgov-section-container">
      <div class="sfgov-section--content">
        {{ 'This meeting has been cancelled'|t }}
      </div>
    </div>
  </div>
  {% endif %}

  <div id="sfgov-in-this-page" class="sfgov-in-this-page sfds-layout-container">
    <div class="sfgov-public-body-in-this-page-container sfds-responsive-container">
      <div class="sfgov-public-body-in-this-page-label">In this page:</div>
      <ul></ul>
    </div>
  </div>

  <div class="sfgov-section sfgov-section-container">
    <div class="group--left">
      {% if content.body|render %}
      <div class="sfgov-section-overview sfgov-in-this-page-target">
        <h2 id="overview" class="sfgov-section--heading" role="heading">Overview</h2>
        <div class="sfgov-section--content">
          {{ content.body }}
        </div>
      </div>
      {% endif %}

      {% if content.field_agenda|render %}
      <div class="sfgov-section-agenda sfgov-in-this-page-target">
        <h2 id="agenda" class="sfgov-section--heading" role="heading">Agenda</h2>
        <div class="sfgov-section--content">
          {{ content.field_agenda }}
        </div>
      </div>
      {% endif %}
    </div>
    <div class="group--right">
      {% if content.field_start_date|render or content.field_end_date|render or content.field_address|render %}
      <div class="sfgov-section-meeting-info">
        <h2>Attend the meeting</h2>
        <div class="sfgov-section--content">
          {% if content.field_start_date|render or content.field_end_date|render %}
          <div class="date-time">
            <h4>Date & Time</h4>
            {% if content.field_start_date|render %}
            <div class="start-date">
              {{ content.field_start_date }}
            </div>
            {% endif %}
            {% if content.field_end_date|render %}
            <div class="end-date">
              {{ content.field_end_date }}
            </div>
            {% endif %}
          </div>
          {% endif %}

          {% if content.field_address|render %}
          <div class="address">
            {{ content.field_address }}
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="sfgov-section sfgov-section-recording sfgov-in-this-page-target">
    <div class="sfgov-section-container">
      <h2 id="recording" class="sfgov-section--heading" role="heading">Recording</h2>
      <div class="sfgov-section--content">
        {# If meeting is cancelled #}
        {% if content.field_meeting_cancel[0]['#markup'] %}
          <p>This meeting has been cancelled. There will be no video recording for this meeting.</p>
        {# If meeting is not cancelled #}
        {% else %}
          {# If it's an upcomming meeting #}
          {% if not meeting_is_past %}
            <p>This is an upcoming meeting. The video and transcript will be posted after the meeting occurs.</p>
          {# If it's a past meeting #}
          {% else %}
            {# Render description field #}
            {{ content.field_intro_text }}

            {# If external video is chosen #}
            {% if content.field_video_option['#items'][0].value %}
              {# Render external link button #}
              {{ content.field_url }}
            {# If Youtube is chosen #}
            {% else %}
              {# Render Youtube video component #}
              {{ content.field_video_embed }}
            {% endif %}

          {% endif %}

        {% endif %}
      </div>
    </div>
  </div>

  {% if content.field_meeting_artifacts|render %}
  <div class="sfgov-section sfgov-section-meeting-artifacts sfgov-in-this-page-target">
    <div class="sfgov-section-container">
      <div class="group--left">
        <h2 id="artifacts" class="sfgov-section--heading" role="heading">Meeting Artifacts</h2>
        <div class="sfgov-section--content">
          {{ content.field_meeting_artifacts }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if content.field_regulations_accessibility|render %}
  <div class="sfgov-section sfgov-section-regulations-accessibility sfgov-in-this-page-target">
    <div class="sfgov-section-container">
      <div class="group--left">
        <h2 id="regulations-accessibility" class="sfgov-section--heading" role="heading">Regulations & Accessibility</h2>
        <div class="sfgov-section--content">
          {{ content.field_regulations_accessibility }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="sfgov-section-updated">
    <div class="sfgov-section-container">
      Last updated {{ node.changedtime|date('F d, Y') }}
    </div>
  </div>

  {% if content.field_dept['#items'] is not empty %}
  <div class="sfgov-section sfgov-section-departments">
    <div class="sfgov-section-container">
      <div class="sfgov-section--content">
        {{ content.field_dept }}
      </div>
    </div>
  </div>
  {% endif %}
</article>

