{% extends 'node--full.html.twig' %}

  {% block header %}
    {{ title_prefix }}
    {% include '@theme/hero-banner-color.twig' with {
      'banner': {
        'label': content.field_news_type,
        'title': node.label,
        'text': content.field_description|render
      }
    } %}
    {{ title_suffix }}
  {% endblock header %}

  {% block footer %}
    <div class="news--meta">
      <div class="news--meta-inner">
        <div class="news--meta-text">
          {{ content.field_abstract }}
          {{ content.field_date }}
        </div>
      </div>
    </div>
  {% endblock footer %}

  {% block content %}
    {% if content.field_image|render %}
      <div class="news--image">
        <div class="news--image-inner">
          {% include '@theme/media-with-caption.twig' with {
            entity: node.field_image.entity,
            media: content.field_image,
          } only %}
        </div>
      </div>
    {% endif %}

    <div{{ content_attributes.addClass(bundle ~ '--body') }}>
      <div class="news--body-inner">
        {{ content|without(
          'content_moderation_control',
          'field_abstract',
          'field_date',
          'field_dept',
          'field_image',
          'field_news_type'
        ) }}
      </div>
    </div>

    {% if content.field_dept.0 %}
      <div class="{{ bundle }}--ankle">
        {{ content.field_dept }}
      </div>
    {% endif %}
  {% endblock content %}
