{% extends 'node.html.twig' %}
{% block node %}
{% set bio_trim = content.field_biography|render|striptags %}

{% set roles = [] %}
{% set profile_type = node.field_profile_type.value %}
{% for key, item in content['#node'].field_departments %}
  {% set roles = series|merge( [item.get('entity').getTarget().getValue().getName()] )  %}
{% endfor %}

{{ attach_library('sfgovpl/sfgov-person') }}

<div class="profile--info">
  <div class="profile--name">
    {{ node.field_first_name.0.value|striptags }} {{ node.field_last_name.0.value|striptags }}
  </div>

  <div class="profile--photo">
    {{ content.field_photo }}
  </div>
  
  {% if node.field_primary_email.value|length and node.field_primary_phone_number.value|length %}
  <div class="profile--direct-contact">
    {% if node.field_primary_email.value|length %}
      <div class="direct-email">
        <span data-contact="email">&nbsp;</span><a href="mailto:{{ node.field_primary_email.value }}">{{ node.field_primary_email.value }}</a>
      </div>
    {% endif %}
    {% if node.field_primary_phone_number.value|length %}
      <div class="direct-phone">
        <span data-contact="phone">&nbsp;</span><a href="tel:{{ node.field_primary_phone_number.value }}">{{ node.field_primary_phone_number.value }}</a>
      </div>
    {% endif %}
  </div>
  {% endif %}
  
  <div class="profile--social">
    {% if profile_fields.social.values %}
      <div class="sfgov-profile-social sfgov-social">
        <span class="title">{{ profile_fields.social.title }}</span>
        <ul class="sfgov-social-list">
        {% for socialMedia in profile_fields.social.values %}
          <li class="{{ socialMedia.label | lower }}"><a href="{{ socialMedia.url }}">{{ socialMedia.label }}</a></li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  
  <div class="profile--job">
    {% if node.field_title.value|length %}
      {{ node.field_title.value|striptags }}{% if (node.field_title.value|length) and (node.field_sub_title.value) %}<br>{% endif %}
    {% endif %}
    {% if node.field_sub_title.value %}
      {{ node.field_sub_title.value|striptags }}
    {% endif %}
  </div>
  
  {% if profile_type == 'External' %}
    {% for key, item in profile_fields.dept_ref_data %}
      <div class="profile--role">
        <div class="role-title">
          {{ item.profile.job.position }}
        </div>
        <div class="role-agency-title">
          <a href="{{ item.profile.node_url }}"> {{ item.profile.node_title }} </a>
        </div>
        <div class="role-time">
          {{ item.profile.job.position_type }}: {{ item.profile.job.start_year }} - {{ item.profile.job.end_year }}
        </div>
      </div>
    {% endfor %}
      
    {% for key, item in profile_fields.pubbody_ref_data %}
      <div class="profile--role">
        <div class="role-title">
          {{ item.profile.job.position }}
        </div>
        <div class="role-agency-title">
          <a href="{{ item.profile.node_url }}"> {{ item.profile.node_title }} </a>
        </div>
        <div class="role-time">
          {{ item.profile.job.position_type }}: {{ item.profile.job.start_year }} - {{ item.profile.job.end_year }}
        </div>
      </div>
    {% endfor %}
  {% endif %}
  
  <div class="profile--bio">
    <div class="bio-trimmed">
      {{ bio_trim|slice(0, 600)|convert_encoding('UTF-8', 'HTML-ENTITIES') ~ '...' }}
    </div>
    <div class="bio-full hidden">
      {{ content.field_biography }}
    </div>
    <div class="show-bio"><button>{{ 'Show more'|t }}</button></div>
    <div class="hide-bio"><button>{{ 'Show less'|t }}</button></div>
  </div>
</div>

<div class="profile--optional-content">
  {{ content.field_optional_content }}
</div>

<div class="profile--contact">
  <h2>{{ 'Contact'|t }}</h2>
  
  <div class="contact-wrapper">
  
    <div class="contact-phone">
      <label data-contact="phone">Phone</label>
                  
      <div class="phone-wrapper">
        {% for key, item in node.field_phone_numbers if key|first != '#'%}
          
          <div class="phone-wrapper">
          {% if item.entity.field_tel.value %}
            <div class="phone-title">
              {{ item.entity.field_owner.value|raw }}
            </div>
            <div class="phone-number">
              <a href="tel:+{{ item.entity.field_tel.value|raw }}">
                {{ item.entity.field_tel.value|raw }}
              </a>
            </div>
            <div class="phone-desc">
              {{ item.entity.field_text.value|raw }}
            </div>
          {% endif %}
          
          {% if not item.entity.field_tel.value is defined %}
            {% if item.entity.field_agency_reference[0].entity.field_phone_numbers[0].entity.field_tel.value|length %}
              <div class="phone-title">
                {{ item.entity.field_agency_reference[0].entity.field_phone_numbers[0].entity.field_owner.value|raw }}
              </div>
              <div class="phone-number">
                <a href="tel:+{{ item.entity.field_agency_reference[0].entity.field_phone_numbers[0].entity.field_tel.value|raw }}">
                  {{ item.entity.field_agency_reference[0].entity.field_phone_numbers[0].entity.field_tel.value|raw }}
                </a>
              </div>
              <div class="phone-desc">
                {{ item.entity.field_agency_reference[0].entity.field_phone_numbers[0].entity.field_text.value|raw }}
              </div>
              
            {% else %}
            
              <span>We do not have contact info for this agency. Add a new phone number instead.</span>
              
            {% endif %}
          {% endif %}
          </div>
          
        {% endfor %}
      </div>
      
      {% for key, item in profile_fields.dept_ref_data %}
        {% if item.profile.phone %}
          <div class="phone-wrapper">
            <div class="phone-org">
              {{ item.profile.node_title }}
            </div>
          {% for pkey, phone in item.profile.phone %}
            {% if phone.tel %}
              <div class="phone-item">
                <div class="phone-title">
                  {{ phone.owner }}
                </div>
                <div class="phone-number">
                  <a href="tel:+{{ phone.tel }}"> {{ phone.tel }} </a>
                </div>
                <div class="phone-desc">
                  {{ phone.text }}
                </div>
              </div>
            {% endif %}
          {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
      
      {% for key, item in profile_fields.pubbody_ref_data %}
        {% if item.profile.phone %}
          <div class="phone-wrapper">
            <div class="phone-org">
              {{ item.profile.node_title }}
            </div>
          {% for pkey, phone in item.profile.phone %}
            {% if phone.tel %}
              <div class="phone-item">
                <div class="phone-title">
                  {{ phone.owner }}
                </div>
                <div class="phone-number">
                  <a href="tel:+{{ phone.tel }}"> {{ phone.tel }} </a>
                </div>
                <div class="phone-desc">
                  {{ phone.text }}
                </div>
              </div>
            {% endif %}
          {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
      
    </div>
    
    <div class="contact-email">
      <label data-contact="email">Email</label>
      
      {% for key, item in node.field_email if key|first != '#'%}
        <div class="email-wrapper">
        {% if item.entity.field_email.value|length %}
          <div class="email-title">
            {{ item.entity.field_title.value|raw }}
          </div>
          <div class="email-email">
            <a href="mailto:{{ item.entity.field_email.value|raw }}">
              {{ item.entity.field_email.value|raw }}
            </a>
          </div>
        {% endif %}
        
        {% if not item.entity.field_email.value is defined %}
          {% if item.entity.field_agency_reference[0].entity.field_email[0].entity.field_email.value|length %}
          
            <div class="email-title-ref">
              {{ item.entity.field_agency_reference[0].entity.field_email[0].entity.field_title.value|raw }}
            </div>
            <div class="email-email">
              <a href="mailto:{{ item.entity.field_agency_reference[0].entity.field_email[0].entity.field_email.value|raw }}">
                {{ item.entity.field_agency_reference[0].entity.field_email[0].entity.field_email.value|raw }}
              </a>
            </div>
                        
          {% else %}
            <span>We do not have contact info for this agency. Add a new email instead.</span>
          {% endif %}
        {% endif %}
        </div>
        
      {% endfor %}
      
      {% for key, item in profile_fields.dept_ref_data %}
        {% if item.profile.email %}
          <div class="email-wrapper">
            <div class="email-org">
              {{ item.profile.node_title }}
            </div>
          {% for ekey, email in item.profile.email %}
            {% if email.email_address %}
              <div class="email-item">
                <div class="email-title">
                  {{ email.title }}
                </div>
                <div class="email-email">
                  <a href="mailto:{{ email.email_address }}"> {{ email.email_address }} </a>
                </div>
              </div>    
            {% endif %}
          {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
      
      {% for key, item in profile_fields.pubbody_ref_data %}
        {% if item.profile.email %}
          <div class="email-wrapper">
            <div class="email-org">
              {{ item.profile.node_title }}
            </div>
          {% for ekey, email in item.profile.email %}
            {% if email.email_address %}
              <div class="email-item">
                <div class="email-title">
                  {{ email.title }}
                </div>
                <div class="email-email">
                  <a href="mailto:{{ email.email_address }}"> {{ email.email_address }} </a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
      
    </div>
    
  </div>
</div>

{% endblock node %}
