{% set start_date_timestamp = content.field_start_date.0['#attributes']['datetime'] %}

{% set hasImage = false %}
{% set eventClass = "date" %}
{% if content.field_image|render|striptags %}
  {% set hasImage = true %}
  {% set thumbnail = file_url(node.field_image.entity.field_media_image.entity.uri.value|image_style('350x200')) %}
  {% set eventClass = "image" %}
{% endif %}
<a class="sfgov-event-card {{ eventClass }}" href="{{ url }}">
  {% if hasImage %}
    <div class="event-image">
      <img src="{{ thumbnail }}" />
    </div>
  {% else %}
    <div class="event-date">
      {# field_smart_date uses a custom field formatter defined in sfgov_dates module #}
      {% if content.field_smart_date[0]['#date'] %}
        <div class="month">{{ content.field_smart_date[0]['#date']|date("F") }}</div>
        <div class="date">{{ content.field_smart_date[0]['#date']|date("j") }}</div>
      {% else %}
        <div class="month">{{ start_date_timestamp|date("F") }}</div>
        <div class="date">{{ start_date_timestamp|date("j") }}</div>
      {% endif %}
    </div>
  {% endif %}
  <div class="event-info">
    <p class="title">{{ label }}</p>
    <p class="description">
      {% if content.field_smart_date[0]['#date'] %}
        {{ content.field_smart_date[0]['#date'] }}
      {% else %}
        {{ start_date_timestamp|date("l, F j") }}<br/>
      {% endif %}
    </p>
  </div>
</a>
