
{% set description = node.get('field_description').getValue()[0]['value'] %}
{% if content.field_image['#items'] %}
  {% set image = content.field_image %}
{% endif %}

<div class="sfds-layout-container">
  <div class="sfds-responsive-container">
    {% include "@molecules/06-headers/01-content-head.twig" with {
      "title": node.getTitle(),
      "description": description,
      "image": image
    } %}
  </div>
</div>
{% if dept_fields.featured_items %}
  <div class="sfgov-dept-section sfgov-dept-featured-items-layout-container sfds-layout-container">
    <div class="sfds-responsive-container">
      <div class="sfgov-dept-featured-items-container">
        <div class="sfgov-dept-featured-items">
            {% set i = 3 %}
            {% for featured_item in dept_fields.featured_items %}
              {% include "@molecules/11-featured-item/11-featured-item.twig" with {
                "title": featured_item.title | t,
                "description": featured_item.description | t,
                "url": featured_item.url | t
              }%}
              {% set i = i - 1 %}
            {% endfor %}
            {% if i > 0 %}
              {% for n in 1..i %}
                {% include "@molecules/11-featured-item/11-featured-item.twig" with {
                  "title": '',
                  "description": '',
                  "url": '#',
                  "empty": true
                }%}
              {% endfor %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

  <div class="sfgov-dept-in-this-page"></div>

{% if dept_fields.services.values %}
  <div class="sfgov-dept-section sfgov-dept-services-list sfds-layout-container">
    <div class="sfgov-services-container sfds-responsive-container">
      <h3>{{ dept_fields.services.label }}</h3>
    {% for service in dept_fields.services.values %}
        <div class="sfgov-services-section">
          <h4>{{ service.title }}</h4>
          <div class="sfgov-services-transactions-container">
            {% set i = 3 %}
            {% for transaction in service.transactions %}
              {% if loop.first %}
              <div class="sfgov-services-transactions" data-attr="row">
              {% endif %}
                {% include "@molecules/12-service-card/12-service-card.twig" with {
                  "title": transaction.tx_title,
                  "description": transaction.tx_description,
                  "url": transaction.tx_url
                }%}
                {% set i = i - 1 %}
              {% if loop.index is divisible by(3) %}
                </div><div class="sfgov-services-transactions" data-attr="row">
              {% endif %}
              {% if loop.last %}
                {% if i >= 1 %}
                  {% for n in 1..i %}
                    {% include "@molecules/12-service-card/12-service-card.twig" with {
                      "title": '',
                      "description": '',
                      "url": '',
                      "empty": true
                    }%}
                  {% endfor %}
                {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
    {% endfor %}
    </div>
  </div>
{% endif %}

{% if dept_fields.spotlight %}
  <div class="sfgov-dept-spotlight sfgov-dept-section sfds-layout-container">
    <div class="sfds-responsive-container sfds-responsive-container-right-zero">
      <div class="sfgov-spotlight">
        <div class="sfgov-spotlight-text sfgov-spotlight-section">
          <h4>
            {{ dept_fields.spotlight.title }}
          </h4>
          <p>
            {{ dept_fields.spotlight.description }}
          </p>
          {% if dept_fields.spotlight.button_text and dept_fields.spotlight.button_uri %}
            <a class="sfgov-spotlight-button" href="{{ dept_fields.spotlight.button_uri }}">{{ dept_fields.spotlight.button_text }}</a>
          {% endif %}
        </div>
        {% if dept_fields.spotlight.image_url %}
          <div class="sfgov-spotlight-image sfgov-spotlight-section" style="background-image: url({{ dept_fields.spotlight.image_url }})">
            <img alt="{{ image_alt }}"/>
          </div>
        {% endif %}
      </div>

    </div>
  </div>
{% endif %}

  <div class="sfgov-dept-news"></div>
  <div class="sfgov-dept-events"></div>

{% if dept_fields.resources.items %}
  <div class="sfgov-dept-section sfgov-dept-resources sfds-layout-container">
    <div class="sfgov-dept-resources-layout-container sfds-responsive-container">
      <h3>{{ dept_fields.resources.label }}</h3>
      <div class="sfgov-dept-resources-container">
        <div class="sfgov-dept-resource-items">
          {% for item in dept_fields.resources.items %}
            {% include "@molecules/14-resource-card/14-resource-card.twig" with {
              "title": item.title,
              "description": item.description,
              "url": item.url
            }%}
            {% if loop.index is divisible by (2) %}
              </div><div class="sfgov-dept-resource-items">
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if(dept_fields.about) %}
  <div class="sfgov-dept-section sfgov-dept-about sfds-layout-container">
    <div class="sfgov-dept-about-container sfds-responsive-container sfds-responsive-container-right-zero">
      <h3>About</h3>
      <div class="sfgov-dept-about-content">
        <div class="sfgov-dept-about-content-left sfgov-dept-about-content-section">
          <div class="sfgov-dept-about-description">
            {{ dept_fields.about.description }}
          </div>
          <div class="sfgov-dept-about-divisions">
            <h4>Divisions</h4>
            <ul>
            {% for division in dept_fields.about.divisions %}
              <li><a href="{{ division.dept_url }}">{{ division.dept_name }}</a></li>
            {% endfor %}
            </ul>
          </div>
          <div class="sfgov-dept-about-public-bodies">
            <h4>Public Bodies</h4>
            <ul>
            {% for publicBody in dept_fields.about.public_bodies %}
              <li><a href="{{ publicBody.url }}">{{ publicBody.name }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
        <div class="sfgov-dept-about-content-right sfgov-dept-about-content-section sfds-responsive-container-right-zero">
          <div class="sfgov-dept-about-logo sfgov-logo">
            <img src="{{ dept_fields.about.logo_url }}" />
          </div>
          <div class="sfgov-dept-about-cta sfgov-cta">
            <h5>{{ dept_fields.about.cta.title }}</h5>
            <a href="{{ dept_fields.about.cta.url }}">{{ dept_fields.about.cta.button_text }}</a>
          </div>
          <div class="sfgov-dept-about-social sfgov-social">
            <h5>{{ dept_fields.about.social.title }}</h5>
            <ul class="sfgov-social-list">
            {% for socialMedia in dept_fields.about.social.values %}
              <li class="{{ socialMedia.label | lower }}"><a href="{{ socialMedia.url }}">{{ socialMedia.label }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sfgov-dept-about-people sfds-layout-container sfgov-dept-section">
    <div class="sfds-responsive-container">
      <ul class="sfgov-dept-about-people-list">
        {% for i in 0..2 %} {# only do first 3 people #}
          {% set person = dept_fields.about.people[i] %}
          <li class="sfgov-dept-about-people-list-item">
            <div class="person-image"><img src="{{ person.photo }}" /></div>
            <div class="person-details">
              <h5>{{ person.first_name }} {{ person.last_name }}</h5>
              <p>{{ person.title }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if dept_fields.address or dept_fields.phone_numbers or dept_fields.email %}
  <div class="sfgov-dept-section sfgov-dept-contact sfds-layout-container">
    <div class="sfgov-dept-contact-content sfds-responsive-container">
      <div class="sfgov-contact-container">
        <h3>Contact</h3>
        {% if dept_fields.address %}
          <div class="sfgov-contact-section address">
            <h5>{{ dept_fields.address.organization }}</h5>
            <p>
              {{ dept_fields.address.line1 }} <br/>
            {% if dept_fields.address.line2 %}
              {{ dept_fields.address.line2 }} <br/>
            {% endif %}
              {{ dept_fields.address.city }}, {{ dept_fields.address.state }} {{ dept_fields.address.zip }}
            </p>
          </div>
        {% endif %}
        {% if dept_fields.phone_numbers %}
          <div class="sfgov-contact-section phone-numbers">
            <h5>Phone</h5>
            {% for phone in dept_fields.phone_numbers %}
              <div class="phone">
                <h6>{{ phone.owner }}</h6>
                <p><a href="tel:{{ phone.number }}">{{ phone.number }}</a></p>
                <div class="details">
                  {{ phone.details | raw }}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% if dept_fields.email %}
          <div class="sfgov-contact-section email">
            <h5>Email</h5>
            <p><a href="mailto:{{ dept_fields.email }}">{{ dept_fields.email }}</a></p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

  {# {% set render_content = false %}

  {% if node.get('field_url').isEmpty() == false %}
    {% set render_content = true %}
  {% elseif node.get('field_address').isEmpty() == false %}
    {% set render_content = true %}
  {% elseif node.get('field_phone_numbers').isEmpty() == false %}
    {% set render_content = true %}
  {% endif %}

  {% if render_content %}
    {% include "@organisms/04-containers/01-sidebar.twig" with {
      "side": "right",
      "title": "Contact"|t,
      "content": [content.field_url,
        content.field_address,
        content.field_phone_numbers]
    } %}
  {% endif %} #}

  {# Dept Fields: <br/>
  <pre>
  {{ dump(dept_fields) }}
  </pre>

  Services section: <br/>
  <pre>
  {{ dump(dept_fields.services) }}
  </pre>

  First service section: <br/>
  title: {{ dept_fields.services.values.0.title}}
  <pre>
  {{ dump(dept_fields.services.values.0.transactions) }}
  </pre> #}
</div>

