{% if node.get('field_transactions').getValue() %}
  {% set hasTags = true %}
  {% set classes = ['info--has-tags'] %}
{% endif %}

{% if node.get('field_dept').getValue() %}
  {% set hasDept = true %}
{% endif %}

<article{{ attributes.addClass(classes) }}>
  {% include '@theme/hero-banner-color.twig' with {
    'banner': {
      'title': node.label,
      'text': content.field_description|render,
    }
  } %}
  {% if hasTags %}
    <div class="info--tags-container">
      <div class="info--tags">
        {{ content.field_transactions }}
      </div>
    </div>
  {% endif %}

  <div class="info--content">
    {{ content.field_information_section }}
    <div class="info--last-updated">
      Last updated {{ node.getChangedTime|date('F d, Y') }}
    </div>
  </div>

  {% if hasDept %}
    <div class="info--departments-container">
      <div class="info--departments">
        {{ content.field_dept }}
      </div>
    </div>
  {% endif %}
</article>

