{% extends 'node--full.html.twig' %}

  {% block header %}
    {% include '@theme/hero-banner-color.twig' with {
      'banner': {
        'label': 'Event',
        'title': label,
        'text': content.field_description|render
      }
    } %}
    {{ title_suffix }}
  {% endblock header %}

  {% block footer %}
    <div class="event--meta{{ content.field_image|render|striptags ? ' has-image' : ' no-image'}}">
      <div class="event--meta-inner">
        <div class="event--meta-left">
          <div class="event--meta-date">
            <div class="event--meta-inner-content">
              <h3>Date</h3>
              <div>
                {% set start_date_time = content.field_start_date.0['#attributes']['datetime'] %}
                {% set end_date_time = content.field_end_date.0['#attributes']['datetime'] %}
                {{ start_date_time|date("l, F j, Y") }}<br/>
                {{ start_date_time|date("g:i a") }} to 
                {{ end_date_time|date("g:i a") }}
              </div>
            </div>
          </div>
          <div class="event--meta-cost">
            {{ content.field_cost }}
          </div>
        </div>
        <div class="event--meta-right">
          <div class="event--meta-inner-content">
            <h3>Location</h3>
            <div>{{ content.field_address[0]['#location'].title.value }}</div>
          </div>
        </div>
      </div>
    </div>
    {% endblock footer %}

  {% block content %}
    <div class="event--content-container">
      <div class="event--content-body">
        {{ content | without(
          'field_start_date',
          'field_end_date',
          'field_cost',
          'field_address',
          'field_call_to_action',
          'field_email',
          'field_phone_numbers',
          'field_dept'
        ) }}
      </div>
      <div class="event--content-sidebar">
        {# {{ kint(content.field_call_to_action) }} #}
        {% if content.field_call_to_action['#items'] is not empty %}
          <div class="event--content-sidebar-card">
            {{ content.field_call_to_action }}
          </div>
        {% endif %}
        {% if content.field_address['#items'] is not empty %}
          <div class="event--content-sidebar-card">
            {{ content.field_address }}
          </div>
        {% endif %}
        {% if content.field_phone_numbers['#items'] is not empty or content.field_email['#items'] is not empty %}
          <div class="event--content-sidebar-card phone-email">
            {% if content.field_phone_numbers['#items'] is not empty %}
              <div class="event--content-phone">
                <h3>Phone</h3>
                {{ content.field_phone_numbers }}
              </div>
            {% endif %}
            {% if content.field_email['#items'] is not empty %}
              <div class="event--content-email">
                <h3>Email</h3>
                {{ content.field_email }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
    {% if content.field_dept['#items'] is not empty %}
      <div class="{{ bundle }}--footer">
        {{ content.field_dept }}
      </div>
    {% endif %}
  {% endblock content %}