{% embed 'node--full.html.twig' %}

  {% block header %}
    {{ title_prefix }}
    {% include '@theme/hero-banner-color.twig' with {
      'banner': {
        'label': '',
        'title': node.label,
        'text': node.field_description.value
      }
    } %}
    {{ title_suffix }}
  {% endblock header %}

  {% block content %}
    {% if content.field_cost|render or content.field_things_to_know|render %}

      {% if content %}
        <section class="banner-subheader{{ styleModifier ? ' sfgov-subheader--' ~ styleModifier }}">
          <div class="banner-subheader__container">
            {% if title %}
              <h2 class="sfgov-subheader__title">{{ title }}</h2>
            {% endif %}
            <div class="sfgov-subheader__content">
              <div class="sfgov-things-to-know">
                {{ content.field_cost }}
                {{ content.field_things_to_know }}
              </div>
            </div>
          </div>
        </section>
      {% endif %}

    {% endif %}

    <div class="transaction--content">
      <div class="transaction--left">

        {% include '@theme/transaction-steps.twig' %}

        {{ content.field_custom_section }}

        {% if content.field_special_cases|render %}
          {% include '@organisms/05-sections/01-section.twig' with {
            'title': 'Special cases'|t,
            'level': 2,
            'content': field_special_cases.items,
          } %}
        {% endif %}

        {{ content|without(
          'field_description',
          'field_cost',
          'field_things_to_know',
          'field_step_online',
          'field_step_phone',
          'field_step_in_person',
          'field_step_email',
          'field_step_mail',
          'field_step_other',
          'field_step_other_title',
          'field_custom_section',
          'field_help',
          'field_transactions',
          'group_grey_boxes',
          'field_direct_external_url'
        ) }}

        {{ content.group_grey_boxes.field_transaction_purpose }}
      </div>

      {% if content.field_help|render|striptags or content.field_transactions|render|striptags %}
        <div class="transaction--right">
          {{ content.field_help }}
          {{ content.field_transactions }}
        </div>
      {% endif %}

    </div>
    <p class="updated">Last updated {{ node.changedtime|date('F d, Y') }}</p>
    {% if content.group_grey_boxes.field_departments.0 %}
      <div class="{{ bundle }}--ankle">
        {{ content.group_grey_boxes.field_departments }}
      </div>
    {% endif %}

  {% endblock content %}

{% endembed %}

{{ attach_library('sfgovpl/sfgov-transaction') }}
