{% extends 'node.html.twig' %}

{%
  set utilityClasses = [
    'block',
    'p-20',
    'text-white',
    'no-underline',
    node.get('field_meeting_cancel').value ? bundle ~ '--cancelled',
  ]
%}

{% block node %}
  <a href="{{ url }}"{{ attributes.addClass(classes|merge(utilityClasses))|without('id', 'role') }}>
    {% if node.get('field_meeting_cancel').value %}
      <span class="cancelled">{{ 'Cancelled'|t }}</span>
    {% endif %}
    {% if node.get('moderation_state').value == 'archived'%}
      <span class="archived">{{ 'Archived'|t }}</span>
    {% elseif not node.isPublished() %}
      <span class="unpublished">{{ 'Unpublished'|t }}</span>
    {% endif %}

    <p class="title p-0 m-0 font-medium lg:pb-28 lg:text-title-xs">{{ node.label }}</p>
      {% if content.field_smart_date[0]['#date'] %}
        {# field_smart_date uses a custom field formatter defined in sfgov_dates module #}
        {{ content.field_smart_date[0]['#date'] }}
      {% else %}
        {{ content.field_start_date.date|date('l, M j, Y, g:i a') }}
      {% endif %}
  </a>
{% endblock node %}
