{% extends 'node.html.twig' %}
{% block node %}
{% set bio_trim = content.field_biography|render|striptags %}

{% set roles = [] %}
{% for key, item in content['#node'].field_departments %}
  {% set roles = series|merge( [item.get('entity').getTarget().getValue().getName()] )  %}
{% endfor %}

{{ attach_library('sfgovpl/sfgov-person') }}

<div class="profile--info">

  <div class="profile--name">
    {{ node.field_first_name.0.value|striptags }} {{ node.field_last_name.0.value|striptags }}
  </div>

  <div class="profile--photo">
    {{ content.field_photo }}
  </div>
  
  {% if node.field_primary_email.value|length and node.field_primary_phone_number.value|length %}
  <div class="profile--direct-contact">
    {% if node.field_primary_email.value|length %}
      <div class="direct-email">
        <span data-contact="email">&nbsp;</span><a href="mailto:{{ node.field_primary_email.value }}">{{ node.field_primary_email.value }}</a>
      </div>
    {% endif %}
    {% if node.field_primary_phone_number.value|length %}
      <div class="direct-phone">
        <span data-contact="phone">&nbsp;</span><a href="tel:{{ node.field_primary_phone_number.value }}">{{ node.field_primary_phone_number.value }}</a>
      </div>
    {% endif %}
  </div>
  {% endif %}
  
  <div class="profile--social">
    {% if profile_fields.about.social.values %}
      <div class="sfgov-profile-social sfgov-social">
        <span class="title">{{ profile_fields.about.social.title }}</span>
        <ul class="sfgov-social-list">
        {% for socialMedia in profile_fields.about.social.values %}
          <li class="{{ socialMedia.label | lower }}"><a href="{{ socialMedia.url }}">{{ socialMedia.label }}</a></li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  
  <div class="profile--job">
    {% if node.field_title.value|length %}
      {{ node.field_title.value|striptags }}{% if (node.field_title.value|length) and (node.field_sub_title.value) %}<br>{% endif %}
    {% endif %}
    {% if node.field_sub_title.value %}
      {{ node.field_sub_title.value|striptags }}
    {% endif %}
  </div>
  
  {% for key, item in node.field_departments if key|first != '#'%}
    <div class="profile--role">
    
      {% if item.entity.title.value %}
        <div class="role-title">
          <!-- For departments -->
          {% if item.entity.field_people.value %}
            {% for keyp, itemp in item.entity.field_people.value if keyp|first != '#'%}
              {% set profilecomp1 = drupal_entity('paragraph',itemp.target_id) %}
              
              {% for keyt, itemt in profilecomp1['#paragraph'].field_profiles.value %}
                {% set profilecomp2 = drupal_entity('paragraph', itemt.target_id) %}
                {% if profilecomp2['#paragraph'].field_profile.value.0.target_id == node.id %}
                  {% if profilecomp2['#paragraph'].field_commision_position.value %}
                    {{ profilecomp2['#paragraph'].field_commision_position.value }}
                  {% else %}
                    <span>No title available</span>
                  {% endif %}
                {% endif %}
              {% endfor %}
              
            {% endfor %}
          {% endif %}
          
          <!-- For public bodies -->
          {% if item.entity.field_board_members.value %}
            {% for keyp, itemp in item.entity.field_board_members.value if keyp|first != '#'%}
              {% set profilecomp1 = drupal_entity('paragraph',itemp.target_id) %}
              
              {% for keyt, itemt in profilecomp1['#paragraph'].field_profiles.value %}
                {% set profilecomp2 = drupal_entity('paragraph', itemt.target_id) %}
                {% if profilecomp2['#paragraph'].field_profile.value.0.target_id == node.id %}
                  {% if profilecomp2['#paragraph'].field_commision_position.value %}
                    {{ profilecomp2['#paragraph'].field_commision_position.value }}
                  {% else %}
                    <span>No title available</span>
                  {% endif %}
                {% endif %}
              {% endfor %}
              
            {% endfor %}
          {% endif %}
        </div>
        
        <div class="role-agency-title">
          <a href="{{ path('entity.node.canonical', {'node':  item.entity.id}) }}">{{ item.entity.title.value }}</a>
        </div>
        
        <div class="role-time">
          <!-- For departments -->
          {% if item.entity.field_people.value %}
            {% for keyp, itemp in item.entity.field_people.value if keyp|first != '#'%}
              {% set profilecomp1 = drupal_entity('paragraph',itemp.target_id) %}
              
              {% for keyt, itemt in profilecomp1['#paragraph'].field_profiles.value %}
                {% set profilecomp2 = drupal_entity('paragraph', itemt.target_id) %}
                {% if profilecomp2['#paragraph'].field_profile.value.0.target_id == node.id %}
                  {% if profilecomp2['#paragraph'].field_position_type.value %}
                    {{ profilecomp2['#paragraph'].field_position_type.value }}: 
                  {% else %}
                    <span>No position information available: </span>
                  {% endif %}
                  
                  <!-- position type/timeframe -->
                  {% if profilecomp2['#paragraph'].field_starting_year.value %}
                    {{ profilecomp2['#paragraph'].field_starting_year.value|date('Y') }} - {{ profilecomp2['#paragraph'].field_ending_year.value|date('Y') }}
                  {% else %}
                    <span>No starting year available</span>
                  {% endif %}
                {% endif %}
              {% endfor %}
              
            {% endfor %}
          {% endif %}
          
          <!-- For public bodies -->
          {% if item.entity.field_board_members.value %}
            {% for keyp, itemp in item.entity.field_board_members.value if keyp|first != '#'%}
              {% set profilecomp1 = drupal_entity('paragraph',itemp.target_id) %}
              
              {% for keyt, itemt in profilecomp1['#paragraph'].field_profiles.value %}
                {% set profilecomp2 = drupal_entity('paragraph', itemt.target_id) %}
                {% if profilecomp2['#paragraph'].field_profile.value.0.target_id == node.id %}
                  {% if profilecomp2['#paragraph'].field_position_type.value %}
                    {{ profilecomp2['#paragraph'].field_position_type.value }}: 
                  {% else %}
                    <span>No position information available: </span>
                  {% endif %}
                  
                  <!-- position type/timeframe -->
                  {% if profilecomp2['#paragraph'].field_starting_year.value %}
                    {{ profilecomp2['#paragraph'].field_starting_year.value|date('Y') }} - {{ profilecomp2['#paragraph'].field_ending_year.value|date('Y') }}
                  {% else %}
                    <span>No starting year available</span>
                  {% endif %}
                {% endif %}
              {% endfor %}
              
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
      
    </div>
  {% endfor %}
  
  <div class="profile--bio">
    <div class="bio-trimmed">
      {{ bio_trim|slice(0, 600)|convert_encoding('UTF-8', 'HTML-ENTITIES') ~ '...' }}
    </div>
    <div class="bio-full hidden">
      {{ content.field_biography }}
    </div>
    <div class="show-bio"><button>{{ 'Show more'|t }}</button></div>
    <div class="hide-bio"><button>{{ 'Show less'|t }}</button></div>
  </div>
</div>

<div class="profile--contact">
  <h2>{{ 'Contact'|t }}</h2>
  
  <div class="contact-wrapper">
  
    <div class="contact-phone">
      <label data-contact="phone">Phone</label>
      {% for key, item in node.field_phone_numbers if key|first != '#'%}
        
        <div class="phone-wrapper">
        {% if item.entity.field_tel.value %}
          <div class="phone-title">
            {{ item.entity.field_owner.value|raw }}
          </div>
          <div class="phone-number">
            <a href="tel:+{{ item.entity.field_tel.value|raw }}">
              {{ item.entity.field_tel.value|raw }}
            </a>
          </div>
          <div class="phone-desc">
            {{ item.entity.field_text.value|raw }}
          </div>
        {% endif %}
        
        {% if not item.entity.field_tel.value is defined %}
          {% if item.entity.field_agency_reference[0].entity.field_phone_numbers[0].entity.field_tel.value|length %}
          
            <div class="phone-title">
              {{ item.entity.field_agency_reference[0].entity.field_phone_numbers[0].entity.field_owner.value|raw }}
            </div>
            <div class="phone-number">
              <a href="tel:+{{ item.entity.field_agency_reference[0].entity.field_phone_numbers[0].entity.field_tel.value|raw }}">
                {{ item.entity.field_agency_reference[0].entity.field_phone_numbers[0].entity.field_tel.value|raw }}
              </a>
            </div>
            <div class="phone-desc">
              {{ item.entity.field_agency_reference[0].entity.field_phone_numbers[0].entity.field_text.value|raw }}
            </div>            
          {% endif %}
        {% endif %}
        </div>
        
      {% endfor %}
    </div>
    
    
    <div class="contact-email">
      <label data-contact="email">Email</label>
      
      {% for key, item in node.field_email if key|first != '#'%}
                
        <div class="email-wrapper">
        {% if item.entity.field_email.value|length %}
          <div class="email-title">
            {{ item.entity.field_title.value|raw }}
          </div>
          <div class="email-email">
            <a href="mailto:{{ item.entity.field_email.value|raw }}">
              {{ item.entity.field_email.value|raw }}
            </a>
          </div>
        {% endif %}
        
        {% if not item.entity.field_email.value is defined %}
          {% if item.entity.field_agency_reference[0].entity.field_email[0].entity.field_email.value|length %}
          
            <div class="email-title-ref">
              {{ item.entity.field_agency_reference[0].entity.field_email[0].entity.field_title.value|raw }}
            </div>
            <div class="email-email">
              <a href="mailto:{{ item.entity.field_agency_reference[0].entity.field_email[0].entity.field_email.value|raw }}">
                {{ item.entity.field_agency_reference[0].entity.field_email[0].entity.field_email.value|raw }}
              </a>
            </div>
                        
          {% else %}
            <span>{{ 'We do not have contact info for this agency. Add a new email instead.'|t }}</span>
          {% endif %}
        {% endif %}
        </div>
        
      {% endfor %}
      
    </div>
  </div>
</div>

{% endblock node %}
