{% if node.field_transactions.value %}
  {% set hasTags = true %}
  {% set classes = ['info--has-tags'] %}
{% endif %}

{% if node.field_dept.value %}
  {% set hasDept = true %}
{% endif %}

<article{{ attributes.addClass(classes) }}>
  {% include '@theme/hero-banner-color.twig' with {
    'banner': {
      'title': node.label,
      'text': content.field_description|render,
      'label': content.field_transactions|render
    }
  } %}

  <div class="info--content">
    {{ content.field_information_section }}
    <div class="info--last-updated">
      {{ 'Last updated'|t }} {{ node.changedtime|date('F d, Y') }}
    </div>
  </div>

  {% if hasDept %}
    <div class="info--departments-container">
      <div class="info--departments">
        {{ content.field_dept }}
      </div>
    </div>
  {% endif %}
</article>

