{# teaser display setting renders checkbox value as a string stuffed in array keyed by #markup #}
{% set online = content.field_location_online.0['#markup'] == "On" ? true : false %}
{% set inPerson = content.field_location_in_person.0['#markup'] == "On" ? true : false %}

<div class="event--teaser">
  <div class="event-details">
    <a class="inline-block font-medium mb-8 text-title-xs" href="{{ url }}" rel="bookmark">{{ label }}</a>
    <div class=" mb-8 font-medium text-body">
      {{ content.field_smart_date[0]['#date'] }}
    </div>
    <div class="text-body mb-8">
      {{ content.field_description }}
    </div>
    <div class="event-meta mb-8 text-body lg:flex">
      {% if content.field_smart_date[0]['#time'] %}
        {% set widthClass = "lg:w-1/2" %}
        <div class="event-time flex mb-16 lg:mb-0 lg:w-1/2">
          <sfgov-icon symbol="clock" class="mr-20"></sfgov-icon>{{ content.field_smart_date[0]['#time'] }}
        </div>
      {% endif %}
      <div class="event-location flex {{ widthClass }}">
        {% if online or inPerson %}
          <sfgov-icon symbol="location" class="mr-20"></sfgov-icon>
        {% endif %}
        {% if online and inPerson %}
          {{ "Online and in person" | t }}
        {% elseif inPerson %}
          {% if content.field_address|render %}
            {{ content.field_address[0]['#location'].title.value }}
          {% endif %}
        {% elseif online %}
          {{ "Online" | t }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
