{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
#}

{% set description = node.get('field_description').getValue()[0]['value'] %}

<div class="sfds-layout-container">
  <div class="sfds-responsive-container">
    {% include '@theme/hero-banner-default.twig' with {
      'banner': {
        'title': node.label,
        'text': node.field_description.value
      }
    } %}

  </div>
</div>

{{ content.field_featured_items }}

<div id="sfgov-dept-in-this-page" class="sfgov-dept-in-this-page sfds-layout-container">
  <div class="sfgov-dept-in-this-page-container sfds-responsive-container">
    <div class="sfgov-dept-in-this-page-label">In this page:</div>
    <ul></ul>
  </div>
</div>

{# Alert #}
{% include '@theme/alert.twig' with {
  date_exp: node.field_alert_expiration_date.0.value,
  style: 'department',
} %}

{% if content.field_department_services['#items'].getValue() %}
  <a name="services"></a>
  <div id="sfgov-dept-services" class="sfgov-full-bleed light-blue card-container">
    <div class="sfgov-section-container">
      {{ content.field_department_services }}
    </div>
  </div>
{% endif %}

{% if dept_fields.spotlight %}
  <div id="sfgov-dept-spotlight" class="sfgov-dept-spotlight sfgov-dept-section sfds-layout-container">
    <div class="sfds-responsive-container sfds-responsive-container-right-zero">
      <div class="sfgov-spotlight">
        <div class="sfgov-spotlight-text sfgov-spotlight-section">
          <h3>
            {{ dept_fields.spotlight.title }}
          </h3>
          <p>
            {{ dept_fields.spotlight.description }}
          </p>
          {% if dept_fields.spotlight.button_text and dept_fields.spotlight.button_uri %}
            <a class="sfgov-spotlight-button" href="{{ dept_fields.spotlight.button_uri }}">{{ dept_fields.spotlight.button_text }}</a>
          {% endif %}
        </div>
        {% if dept_fields.spotlight.image_url %}
          <div class="sfgov-spotlight-image sfgov-spotlight-section" style="background-image: url({{ dept_fields.spotlight.image_url }})">
            <img alt="{{ node.field_spotlight.entity.field_spotlight_img.entity.field_media_image.alt }}" src="{{ dept_fields.spotlight.image_url }}"/>
          </div>
        {% endif %}
      </div>

    </div>
  </div>
{% endif %}

{% set news_view = drupal_view('news', 'news_block_depts')|render  %}
{%  if news_view|striptags|trim %}
<div id="sfgov-dept-news" class="sfgov-full-bleed light-yellow">
  <div class="sfgov-section-container">
    {{ news_view }}
  </div>
</div>
{% endif %}

{% set events_view = drupal_view('events', 'block_1')|render %}
{% if events_view|striptags|trim %}
  <div id="sfgov-dept-events" class="sfgov-full-bleed white">
    <div class="sfgov-section-container">
      {{ events_view }}
    </div>
  </div>
{% endif %}

{% if content.field_resources['#items'].getValue() %}
  <a name="resources"></a>
  <div id="sfgov-dept-resources" class="sfgov-full-bleed light-blue">
    <div class="sfgov-section-container">
      {{ content.field_resources }}
    </div>
  </div>
{% endif %}

{% if(dept_fields.about) %}
  <a name="about"></a>
  <div id="sfgov-dept-about" class="sfgov-dept-section sfgov-dept-about sfds-layout-container">
    <div class="sfgov-dept-about-container sfds-responsive-container sfds-responsive-container-right-zero">
      <h2 class="dept-heading--section">About</h2>
      <div class="sfgov-dept-about-content">
        <div class="sfgov-dept-about-content-left sfgov-dept-about-content-section">
          <div class="sfgov-dept-about-description">
            {{ dept_fields.about.description }}
          </div>
          {% if dept_fields.about.divisions %}
            <div class="sfgov-dept-about-divisions">
              <h4>Divisions</h4>
              <ul>
              {% for division in dept_fields.about.divisions %}
                <li><a href="{{ division.dept_url }}">{{ division.dept_name }}</a></li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% if dept_fields.about.public_bodies %}
            <div class="sfgov-dept-about-public-bodies">
              <h4>Public Bodies</h4>
              <ul>
              {% for publicBody in dept_fields.about.public_bodies %}
                <li><a href="{{ publicBody.url }}">{{ publicBody.name }}</a></li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
        <div class="sfgov-dept-about-content-right sfgov-dept-about-content-section sfds-responsive-container-right-zero">
          {% if dept_fields.about.logo_url %}
            <div class="sfgov-dept-about-logo sfgov-logo">
              <img src="{{ dept_fields.about.logo_url }}" />
            </div>
          {% endif %}
          {% if dept_fields.about.cta %}
            <div class="sfgov-dept-about-cta sfgov-cta">
              <h5>{{ dept_fields.about.cta.title }}</h5>
              <a href="{{ dept_fields.about.cta.url }}">{{ dept_fields.about.cta.button_text }}</a>
            </div>
          {% endif %}
          {% if dept_fields.about.social.values %}
            <div class="sfgov-dept-about-social sfgov-social">
              <h5>{{ dept_fields.about.social.title }}</h5>
              <ul class="sfgov-social-list">
              {% for socialMedia in dept_fields.about.social.values %}
                <li class="{{ socialMedia.label | lower }}"><a href="{{ socialMedia.url }}">{{ socialMedia.label }}</a></li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if dept_fields.about.people %}
    <div class="sfgov-dept-about-people sfgov-dept-section">
      <div class="sfgov-dept-section-content-container">
        <ul class="sfgov-dept-about-people-list">
          {% for i in 0..2 %} {# only do first 3 people #}
            {% set person = dept_fields.about.people[i] %}
            <li class="sfgov-dept-about-people-list-item">
              <div class="person-image" style="background-image: url({{ person.photo }})"><img alt="{{ person.alt }}" /></div>
              <div class="person-details">
                <h5>{{ person.first_name }} {{ person.last_name }}</h5>
                <p>{{ person.title }}</p>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endif %}

{% if dept_fields.address or dept_fields.phone_numbers or dept_fields.email %}
  <a name="contact"></a>
  <div id="sfgov-dept-contact" class="sfgov-dept-section sfgov-dept-contact sfds-layout-container">
    <div class="sfgov-dept-contact-content sfds-responsive-container">
      <div class="sfgov-contact-container">
        <h2 class="dept-heading--section">Contact</h2>
        <div class="sfgov-dept-section-content-container">
          {% if dept_fields.address %}
            <div class="sfgov-contact-section address">
            {% if dept_fields.address.organization %}
              <h5>{{ dept_fields.address.organization }}</h5>
            {% endif %}
              <p>
                {{ dept_fields.address.line1 }} <br/>
              {% if dept_fields.address.line2 %}
                {{ dept_fields.address.line2 }} <br/>
              {% endif %}
                {{ dept_fields.address.city }}, {{ dept_fields.address.state }} {{ dept_fields.address.zip }}
              </p>
            </div>
          {% endif %}
          {% if dept_fields.phone_numbers %}
            <div class="sfgov-contact-section phone-numbers">
              <h5>Phone</h5>
              {% for phone in dept_fields.phone_numbers %}
                <div class="phone">
                  <h6>{{ phone.owner }}</h6>
                  <p><a href="tel:{{ phone.number }}">{{ phone.number }}</a></p>
                  <div class="details">
                    {{ phone.details | raw }}
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {% if dept_fields.email %}
            {% if dept_fields.email.email_address %}
              <div class="sfgov-contact-section email">
                <h5>Email</h5>
                {% if dept_fields.email.email_title %}
                  <h6>{{ dept_fields.email.email_title }}</h6>
                {% endif %}
                <p><a href="mailto:{{ dept_fields.email.email_address }}">{{ dept_fields.email.email_address }}</a></p>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if dept_fields.public_records %}
  <div class="sfgov-dept-section sfgov-dept-public-records sfds-layout-container">
    <div class="sfgov-dept-public-records-content-container sfds-responsive-container">
      <div class="sfgov-dept-public-records-content">
        <h5>Request public records</h5>
        <p>
        {% if dept_fields.public_records.method == "phone" %}
          <a href="tel:{{ dept_fields.public_records.value }}">Call {{ dept_fields.public_records.value }}</a> to submit a request.
        {% elseif dept_fields.public_records.method == "email" %}
          <a href="mailto:{{ dept_fields.public_records.value }}">Email {{ dept_fields.public_records.value }}</a> to submit a request.
        {% elseif dept_fields.public_records.method == "link" %}
          <a href="{{ dept_fields.public_records.value }}">Submit requests</a> for the {{ node.getTitle() }}.
        {% endif %}
        </p>
      </div>
    </div>
  </div>
{% endif %}

</div>

{{ attach_library('sfgovpl/sfgov-dept-homepage') }}
