{% extends 'node.html.twig' %}

{% block title %}
{% endblock title %}

{% block body %}

  {% set start_date_time = content.field_start_date.0['#markup'] %}
  {% set end_date_time = content.field_end_date.0['#attributes']['datetime'] %}

  <div class="event--card--body">
    <h3{{ title_attributes.addClass(title_classes) }}><a href="{{ url }}" rel="bookmark">{{ label }}</a></h3>
    {{ content | without('field_start_date','field_end_date','field_address') }}
    <h3 class="event-date">
      {{ start_date_time|date("l, F j") }}
    </h3>
  </div>

{% endblock body %}
