{% embed 'node--full.html.twig' %}
  {% block header %}
    {% set part_of = field_topics.entity.value %}
  
    {% for item in content.field_tags %}
      {{ item.get('value').getValue() }}
    {% endfor %}
        
    
    
    {{ title_prefix }}
    {% include '@theme/hero-banner-color.twig' with {
      'banner': {
        'title': node.label,
        'text': node.field_description.value,
        'label': 'Part of Budget'
      }
    } %}
    {{ title_suffix }}
  {% endblock header %}

  {% block content %}
    <div class="{{ bundle }}--content">
      <h2>Documents</h2>
      {{ content|without(
        'field_abstract',
        'field_date',
        'field_dept',
        'field_image',
        'field_news_type',
        'field_topics',
        'field_description'
      ) }}
    </div>

  {% endblock content %}
  
{% endembed %}
