{% extends 'node.html.twig' %}

{% block node %}
  <a href="{{ url }}"{{ attributes.addClass(classes)|without('id', 'role') }}>
    <p class="title">{{ node.label }}</p>
      {% if content.field_smart_date[0]['#date'] %}
        {# field_smart_date uses a custom field formatter defined in sfgov_dates module #}
        {{ content.field_smart_date[0]['#date'] }}
      {% else %}
        {{ content.field_start_date.date|date('l, M j, Y, g:i a') }}
      {% endif %}
  </a>
{% endblock node %}
