<div class="sfgov-logo">
  <div class="sfgov-logo__image">
    <img src="{{ branding_logo_url }}" alt="{{ branding_logo_alt }}"/>
  </div>
  <div class="sfgov-logo__text">
    <span class="sfgov-logo__text--pre-title">{{ branding_pre_title|upper }}</span>
    <span class="sfgov-logo__text--title"><a href="{{ branding_url }}">{{ branding_title }}</a></span>
  </div>
</div>
